/*navigation starts*/
.nav{
		margin-left: 10px;
}
.nav li{
	*display:inline;
	*width: 60px;
	*min-width: 60px;
	*width: auto!important;
	*text-align: center;
	*border-left: 1px solid #ccc;
	*line-height: 60px;
}
.nav a{
	*width: 60px;
	*min-width: 60px;
	*width: auto!important;
	*line-height: 60px;
}
.nav > a:first-child{
	text-align: center;
	width: 40px!important;
}
.home:first-child{
	*border-left: none;
	margin: 0 auto;
	padding:0 0 0 20px;
	width: 80px!important;
	text-align: center;
}
.home{
	height: auto!important;
	min-height: 50px;
	height: 50px;
}
.drop-parent{
	z-index: 1000000;
}
.drop-child{
	bottom: -114px!important;
	opacity: 1;
	z-index: 10000;
}
.index{
	z-index: 1;
}
/*navigation ends*/
/*gallery starts*/
#myExample,#myExample img{
	z-index: 1;
}
.gallery {
height: 362px!important;
min-height: 362px!important;
z-index: 1;
}
.next i, .prev i{
	top:135px!important;
}
.stop i, .play i{
	top: 250px!important;
}
/*gallery ends*/
/* other structure*/
.tab1,.tab2,.tab3{
	top: 40px!important;
}
.tab2{
	left: 340px!important;
}
.tab3{
	right: 0px!important;
}
#autorrizo{
	
	float: left;
}
#autorrizo-styler{
	margin-top: 3px;
}
.check-span{
	width: 250px!important;
	float: left;
	margin-bottom: 20px!important;
}
.in{
	bottom: 35px!important;
}
.right-foot label{
	padding-top:5px!important;
}
#opti{
	width: 300px;
	margin-top: 10px;
}
.post-box{
	margin-left: 20px!important;
}