*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
header{
	background: #303123;
	min-height: 85px; 
}
.logo{
	float: left;
	margin: 25px 25px 25px 0px;
}
nav{
	float: right;
	margin: 30px 80px 30px 10px;
}
nav ul li{
	list-style: none;
	display: inline;
}
nav ul li a{
	padding:5px 18px;
	color: #6e6e6a;
	text-decoration: none;
	font:15px Verdana, Sans-Serif;
}
nav ul li a:hover{
	border-radius: 10px;
	border:1px solid #454632;
	padding: 5px 17px;
	color: #9a9995;
}
.home-button{
	border-radius: 10px;
	border:1px solid #454632;
	padding: 5px 17px;
	color: #9a9995;
}
.slider{
	background: url(img/slider-bg.png) repeat-x;
	min-height: 234px;
}
.slides-back{
	background: url(img/twist.png);
	width: 965px;
	height: 234px;
	float: left;
}
.slide-1{
	margin: -2px 28px 0 -67px;
}
.title-site{
	padding: 34px 209px 0px 47px;
	color: #fff;
	text-transform: lowercase;
}
.site-comment{
	font-size:14px;
	color: #000;
	padding: 0 0 0px 77px; 
}
.slider-site-info{
	float: right;
}
.wrapper{
	margin: 0 auto;
	width: 960px;
}

.slider-text{
	font: italic 13.5px Candara, Verdana;
	margin:10px 0 0px 47px;
	color: white;
	text-shadow:1px 1px 1px black;
}
.separator1{
	margin: 0 0 0 112px;
}
/*Nachalo bloka article*/
.general{
background: rgb(227,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(227,226,226,1) 1%, rgba(242,239,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(227,226,226,1)), color-stop(100%,rgba(242,239,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(227,226,226,1) 1%,rgba(242,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(227,226,226,1) 1%,rgba(242,239,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(227,226,226,1) 1%,rgba(242,239,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(227,226,226,1) 1%,rgba(242,239,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e2e2', endColorstr='#f2efef',GradientType=0 ); /* IE6-9 */
min-height: 530px;
	-webkit-box-shadow: 0px 5px 30px rgba(50, 50, 50, 0.2) inset;
-moz-box-shadow:    0px 5px 30px rgba(50, 50, 50, 0.2) inset;
box-shadow:         0px 5px 30px rgba(50, 50, 50, 0.2) inset;
}
.shadow1{
	background: url(img/top-shadow.png) repeat-x;
	height:46px; 
}
.separator2{
	margin: 0 auto;
	display: block;
}
.general h3{
	padding: 45px 0 25px 20px;
	color: #6e6e6a;
	font-family: Candra, Verdana;
}
.general p{
	padding: 0px 20px 30px 20px;
	font: 14px Candra, Verdana;
	color: #6e6e6a;

}
.container-features {
overflow: hidden;
}
.container-features img{
	float: left;
	padding: 3px 5px 0 0;
}
.container-features h2,.container-features h3,.container-features h4{
	float: left;
	font-family: Candra, Verdana;
	color: #6e6e6a;
}
.container-features p{
	font: 15px Candra,Verdana;
}
.rewiew,.prices,.features{
	width: 300px;
	float: left;
}
.features ul li, .prices ul li{
	list-style: none;
	font:14px Candra,Verdana;
	padding: 0 0 30px 23px;
	color: #6e6e6a;
}
.features i{
	width: 10px;
	height: 12px;
	background: url(img/check.png) no-repeat;
	display: block;
	float: left;
	margin: 3px 5px 0 0;

}
.prices i{
	width: 17px;
	height: 16px;
	background: url(img/coins.png) no-repeat;
	display: block;
	float: left;
	margin: 3px 5px 0 0;
}
.separator3{
	width: 1px;
	height: 180px;
	background: #C4C4C4;
	float: left;
	margin: 85px 0 0 0;
}
/* nachalo footera*/
footer{
	background: #303123;
	min-height: 45px;
}
.logo-mini{
	margin: 10px 10px 0 15px;
	float: left;
}
footer p{
	padding: 16px 0px 0px 0px;
	float: left;
	color: #fff;
	font-size: 12px;
}
.rss{
	float: right;
	padding:10px 0 0 15px;
}
.rss-text{
float: right;
text-decoration: none;
color: #FFF;
padding:13px 0 0 15px;
}