@font-face {
    font-family: 'DeusExRegular';
    src: url('../resources/DeusEx/deusex.eot');
    src: url('../resources/DeusEx/deusex.eot') format('embedded-opentype'),
         url('../resources/DeusEx/deusex.woff') format('woff'),
         url('../resources/DeusEx/deusex.ttf') format('truetype'),
         url('../resources/DeusEx/deusex.svg#DeusExRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}
