/* FONTS starts*/
@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BEBAS___/bebas___.eot');
    src: url('../fonts/BEBAS___/bebas___.eot') format('embedded-opentype'),
         url('../fonts/BEBAS___/bebas___.woff') format('woff'),
         url('../fonts/BEBAS___/bebas___.ttf') format('truetype'),
         url('../fonts/BEBAS___/bebas___.svg#BebasRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'DanielRegular';
    src: url('../fonts/daniel/daniel.eot');
    src: url('../fonts/daniel/daniel.eot') format('embedded-opentype'),
         url('../fonts/daniel/daniel.woff') format('woff'),
         url('../fonts/daniel/daniel.ttf') format('truetype'),
         url('../fonts/daniel/daniel.svg#DanielRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}


/* FONTS ends */

body {
	background: #000 url(../images/middle-bg.jpg);
	margin: 0;
	padding: 0;
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}
p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 15px;
	color: #495272;
}
h3, h4 {
	font-family: 'BebasRegular';
}
h4 {
	color: #B8B8B8;
	font-weight: normal;
	font-size: 19px;
}
.pl85 {
	padding-left: 85px;
}
.pl10 {
	padding-left: 10px;
}
.pt30 {
	padding-top: 30px;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.container2 {
	width: 1020px;
	margin: 0 auto;
}
/* header starts */
.header {
	background: url(../images/header-bg.jpg) repeat-x;
	border-bottom: 1px solid #fff;
}

.month, .day, .hour, .min, .sec {
    width: 103px;
    height: 103px;
    float: left;
	margin-right: 16px;
}
.month {
	background: url(../images/months.png) no-repeat;
}
.day {
	background: url(../images/days.png) no-repeat;
}
.hour {
	background: url(../images/hours.png) no-repeat;
}
.min {
	background: url(../images/minutes.png) no-repeat;
}
.sec {
	background: url(../images/seconds.png) no-repeat;
}
#countdown {
	position: absolute;
	top: 70px;
	right: -49px;
}
.timer {
	padding-top: 52px;
	padding-left: 35px;
}
.menu {
    width: 1020px;
    height: 83px;
    left: -23px;
    bottom: -22px;
    z-index: 20;
    background: url(../images/menu.png) top center repeat-x;
}
.menu ul li {
	list-style-type: none;
	float: left;
	padding: 0 30px 0 0;
	margin: 0;
}
.menu ul li a {
	text-decoration: none;
	font-size: 12px;
	font-family: 'BebasRegular';
	color: #3E6079;
	padding: 14px 20px;
	background-image: ;
	background: #f7f8fa; /* Old browsers */
	display: block;
	-webkit-border-radius: 70px;
	        border-radius: 70px;
	width: 55px;
	text-align: center;

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RlZTRlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGQzZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f7f8fa 0%, #dee4e9 50%, #c8d3db 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f8fa), color-stop(50%,#dee4e9), color-stop(100%,#c8d3db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f8fa 0%,#dee4e9 50%,#c8d3db 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f8fa 0%,#dee4e9 50%,#c8d3db 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f8fa 0%,#dee4e9 50%,#c8d3db 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f8fa 0%,#dee4e9 50%,#c8d3db 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8fa', endColorstr='#c8d3db',GradientType=0 );
position: relative;
top: 20px; /* IE6-8 */

}
/* header end */
/* slider area starts */
.slider {
	z-index: 10;
	min-height: 300px;
}
.mega-form {
	float: left;
	background: url(../images/form.png) no-repeat;
	width: 255px;
	height: 415px;
	margin-top: 50px;
	z-index: 10;
}
.fieldset2 {
	padding-top: 43px;
	z-index: 50;
	padding-left: 40px;
}
.legend {
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 70px;
	
}
.fieldset2 > label {
	color: #888;
    font-size: 12px;
    font-weight: bold;
    float: left;
    display: block;
    padding-left: 5px;
    padding-top: 10px;
}
.fieldset2 > input {
	clear: left;
	display: block;
	padding-left: 14px;
	height: 13px;
	width: 160px;
}
.radio-var {
	float: left;
	padding-right: 10px;
	font: 12px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: bold;
	color: #888;
}
.radio-var > input {
         position: relative;
         top: 2px;
}
.gift {
	color: #ff6600;
    font-weight: bold;
    position: relative;
    top: 14px;
    right: -5px;
}
.purchet {
	display: block;
	width: 125px;
	height: 70px;
	background: url(../images/pur.png) no-repeat;
	background-position: 0 -70px;
	top: 25px;
	left: 65px;
}
.purchet:hover {
	background-position: 0 0px;
}
/* slider area ends */
.features {
	padding: 40px 0 50px;
}
.features > div {
	width: 220px;
	float: left;
	margin-right: 20px;
}
.features a h3, .ui-tabs-nav h3 {
	float: left;
	color: #6389A6;
	text-shadow: 1px 1px 1px rgba(255,255,255, 1);
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	width: 150px;
	padding: 5px 5px 0 0;
}
.features p {
	padding-left: 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}
.ico1, .ico2, .ico3, .ico4 {
	background: url(../images/s-icons.png) no-repeat;
	width: 65px;
	height: 65px;
	display: block;
	float: left;
}
.ico1 {
	background-position: 0px 0px;
}
.ico2 {
	background-position: -60px 0px;
}
.ico3 {
	background-position: -120px 0px;
}
.ico4 {
	background-position: -180px 0px;
}
.rel {
	position: relative;
}
.clear {
	clear: both;
}
.over {
	overflow: hidden;
}
.logo {
	float: left;
	margin-top: 60px;
}
/* subscribe starts */
.sub {
    background: #070707 url(../images/bottom-bg.png) top center no-repeat;
    text-shadow: #000 2px 2px 1px;
}
.bg-bot {
	padding-bottom: 50px;
}
.video, .su-area {
	width: 460px;
	float: left;
}
.vidos {
	width: 460px;
	height: 259px;
}
.quote {
	font-family: 'DanielRegular';
	font-size: 26px;
	color: #666;
	margin: 0;
	line-height: 30px;
}
.bg-bot h4 {
	margin: 15px 0;
}
.auth {
	font-size: 12px;
	color: #444;
	font-style: italic;
	font-family: Verdana;
}
.sub-input {
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	    height: 45px;
	    width: 170px;
	    border: 1px solid #202020;
	    background-color: #111;
	    padding: 0 40px;
	    color: #444;
	    margin: 10px 0 0 0;
}
.submit {
	background-color: #242425;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	height: 45px;
	width: 100px;
	border: 1px solid #363636;
	color: #7B9999;
	padding: 0 20px;
	text-align: center;
	cursor: pointer;
	margin-left: 5px;
}
/* subscribe ends */
/* tech starts*/
.tech {
	background-color: #070707;
}
.tech > div > div {
	float: left;
}
.tech a {
	text-decoration: none;
	color: #DDDDDD;
	font-family: 'Yanone Kaffeesatz';
	font-size: 15px;
	font-weight: light;
	padding-left: 10px;
    
}
.tech h4 {
	margin: 0 0 5px;
}
.tech ul li {
	border-bottom: 1px solid #222;
	padding: 5px 0;
}
.tech ul li:hover {
	background-color: #202020;
	cursor: pointer;
} 
.tech ul {
	padding: 0;
	margin: 0;
}
.span1 {
	width: 80px;
}
.span2 {
	width: 80px;
}
.span3 {
	width: 100px;
}
.span4 {
	width: 160px;
}
.span1 li, .span2 li {
	width: 50px;
}
.span3 li {
	width: 80px;
}
.span4 li {
	width: 140px;
}
.text-col1 p, .text-col2 p, .text-col3 p {
	color: #666666;
}
.text-col1 {
	width: 215px;
	margin-right: 25px;
}
.text-col2 {
	width: 135px;
	margin-right: 25px;
}
.text-col3 {
	width: 135px;
}
/* tech ends */
/* footer starts*/
.footer {
	background-color: #070707;
	min-height: 80px;
}
.copy {
	float: left;
	font-family: Verdana;
	font-size: 10px;
	color: #545454;
	padding: 20px 0;
}
.copy a {
	text-decoration: none;
	color: #1C91BC;
	font-family: Verdana;
	
}
.socail {
	float: right;
}
.face, .twitter, .two, .rss {
	width: 16px;
	height: 16px;
	background: url(../images/social-s.png) no-repeat;
	display: block;
	float: left;
	margin-top: 25px;
	margin-left: 3px;
	
}
.face {
	background-position: 0px 0px;
}
.twitter {
	background-position: -19px 0px;
}
.two {
	background-position: -38px 0px;
}
.rss {
	background-position: -57px 0px;
} 
/* footer ends */