@font-face {
    font-family: 'BebasRegular';
    src: url('bebas___.eot');
    src: url('bebas___.eot') format('embedded-opentype'),
         url('bebas___.woff') format('woff'),
         url('bebas___.ttf') format('truetype'),
         url('bebas___.svg#BebasRegular') format('svg');
}
