body{
	background: #ccc url(img/bg-light-4857.png);
	font: normal 100% Calibri, Tahoma, Verdana;
	margin: 0;
	padding: 0;
}
header a{
	text-decoration: none;
	font: normal 125% Regular, Calibri, Tahoma;
	color: #545555;
	text-transform: uppercase;

	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
header a:hover{
	color: #858507;
	padding-bottom: 1.5%;
	border-bottom: 1px dashed #000;
}
h4{
	text-transform: uppercase;
}
ul{
	list-style-image: url(img/arrow.png);
}
ul li{
	margin: 6% auto;
}
ul li a{
	font-size: 0.8em;
	color: #545555;
	text-decoration: none;

	transition: color 0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s;
	-webkit-transition: color 0.2s ease-in-out 0s;
}
ul li a:hover{
	color: #858507;
}
p{
	text-align: justify;
}
.logo{
	margin: 0 auto;
	display: block;
}
.clouds{
	background: url(img/clouds.png) no-repeat;
	display: block;
	margin: 0 auto;	
	width: 1336px;
	min-height: 339px;
}
.float_right{
	float: right;
}
.float_right a{
	float: right;
	margin-left: 2%;
}
.float_right img:hover{
	opacity: .5;
}
.float_right img{
	opacity:1;
	transition: opacity .3s ease-in-out 0s;
	-moz-transition: opacity .3s ease-in-out 0s;
	-o-transition: opacity .3s ease-in-out 0s;
	-webkit-transition: opacity .3s ease-in-out 0s;
}
	
.float_left{
	float: left;
}
.menu{
	margin-top: 50%;
	position: relative;
}
.menu:before{
	background: url(img/dot.png) no-repeat;
	width: 5px;
	height: 5px;
	content: '';
	display: block;
	position: absolute;
	top: 40%;
	left: -29px;
}
.first:before{
	content: none;
}
.logo-text{
	display: block;
	margin: 8% auto;
}
.quote{
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	margin-bottom:5%;
}
.line{
	margin-top: 0.5%;
	background: url(img/line.png) repeat-x;
	height: 7px;
}
.quote-mini{
	font-size: 0.8em;
	font-weight: bold;
}
.quote-bottom{
	text-align: center;
	font-size: 1.1em;
	position: relative;
	margin:10% auto;
	font-style: italic;
}
.quote-bottom:before{
	content: '';
	position: absolute;
	background: url(img/l-skoba.png) no-repeat;
	width: 28px;
	height: 97px;
	top: -15px;
	left: -25px;
}
.quote-bottom:after{
	content: '';
	position: absolute;
	background: url(img/r-skoba.png) no-repeat;
	width: 28px;
	height: 97px;
	top:-15px;
	right: -25px;
}
.grey{
	color: #545555;
	margin-left: 13%;
}
footer{
	margin:3% auto;
}
.space{
	color: #858507;
	text-decoration: none;
	font-size: 1.3em;
	font-family: Tahoma;
	margin: auto 3%;
	border: none;

	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.space:hover{
	color: #9BA2B8;
	border-bottom: 1px dashed #000;
	padding-bottom: 0.5%;
}