@font-face {
    font-family: 'SegoeScriptBold';
    src: url('segoe_script_bold.eot');
    src: url('segoe_script_bold.eot') format('embedded-opentype'),
         url('segoe_script_bold.woff') format('woff'),
         url('segoe_script_bold.ttf') format('truetype'),
         url('segoe_script_bold.svg#SegoeScriptBold') format('svg');
}
