@font-face {
    font-family: 'ArlekinoRegular';
    src: url('resources/Arlekino/arlekino.eot');
    src: url('resources/Arlekino/arlekino.eot') format('embedded-opentype'),
         url('resources/Arlekino/arlekino.woff') format('woff'),
         url('resources/Arlekino/arlekino.ttf') format('truetype'),
         url('resources/Arlekino/arlekino.svg#ArlekinoRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'DeusExRegular';
    src: url('resources/DeusEx/deusex.eot');
    src: url('resources/DeusEx/deusex.eot') format('embedded-opentype'),
         url('resources/DeusEx/deusex.woff') format('woff'),
         url('resources/DeusEx/deusex.ttf') format('truetype'),
         url('resources/DeusEx/deusex.svg#DeusExRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
	font-family: 'Bonzai';
	src: url('resources/bonzai.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.cont-data h2,#port-name{
font-family: 'ArlekinoRegular', Verdana;
font-weight: bold;
font-size: 27px;
text-shadow:2px 1px 1px #000;
color: white;
margin: 9px 0 0 0px;
letter-spacing: 2px;
}
#port-name{
	margin: 9px 0 0 5px!important;
}
.cont-data img{
float:left;
margin: 5px 5px 0 0;
}
body{
	background: url(img/pattern-light.jpg);
}
.content{
	background: url(img/top-gradient.png) repeat-x;
}
.container{
	padding-top: 30px;
}
.rel{
	position: relativefade;
}
header{
	background: url(img/header-bg.png);
	border-bottom: 3px solid #97975B;
}
.logo{
	margin: 0px 0 0 0px;
}
.portfolio_nav{
line-height: 45px;
position: relative;
text-align: center;
}
.portfolio_nav:after{
content:'';
border-right: 1px solid #3F3F3F;
border-left: 1px solid #818181;
height: 70px;
position: absolute;
top: 55px;
right: -15px;
}
.cont-data{
float: right;
width: 100%;
position:relative;
}
.cont-data h1 {
padding:0px 0px 20px 0px;
font-family: 'Bonzai', Sans-Serif;
}

.us-info {
padding: 0;
margin: 0px 0 0 0;
line-height: 2;
color: white;
font-size: 1.2em;
font-family: 'DeusEx'
}
.works{
	margin-left: 2px;
}
.slogan{
	font-size: 1.45em;
	font-family:'DeusExRegular', Verdana;
	font-weight: bold;
	line-height: 50px;
	text-shadow: 2px 1px 1px #000;
	color: white;
	text-align: center;
	margin: 50px 0 0 0px;
	padding-bottom: 0px;
	border-bottom: 10px solid #345654;
	border-top: 10px solid #454545;
}
#slider{
        background:url('resources/background.png');
        width:1040px;
        height:300px;
        margin:50px auto;
        position:relative;
      }
      #mask{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
      }
      .fleche{
        position:absolute;
        top:120px;
        cursor:pointer;
      }
      #fleche_gauche{
        left:-17px;
      }
      #fleche_droite{
        right: -17px;
      }
      #image_container{
        position:absolute;
        width:400%;
        height:100%;
        /* La transition sur tout les navigateurs */
           /* Chrome */ 
          -webkit-transition-property:all;
          -webkit-transition-duration:1s;

           /* Firefox */ 
          -moz-transition-property:all;
          -moz-transition-duration:1s;
          
           /* Opera */ 
          transition-property:all;
          transition-duration:1s;

      }
      
      /* Les différentes positions du slider */
      .image1 #image_container{
        left:-1%;
      }
      .image2 #image_container{
        left:-100%;
      }
      .image3 #image_container{
        left:-200%;
      }
      .image4 #image_container{
        left:-300%;
      }
      
      /* Les images */
      #image_container li{
        float:left;
      }
      
/* Point "selectionné". De la même manière que l'image, on change en fonction de la classe de slider */
      .image1 #dots li.button1, .image2 #dots li.button2, .image3 #dots li.button3, .image4 #dots li.button4{
        background: url('resources/selected-dot.png');
        cursor:normal;
      }

      /* Un eyecandy */
      #glass{
        position:absolute;
        top:0px;
        left:0px;
      }

.slide-section{
	background: url(img/bg-slide-section.png);
	-webkit-box-shadow: 0px 0px 21px rgba(50, 50, 50, 0.88) inset;
	-moz-box-shadow: 0px 0px 21px rgba(50, 50, 50, 0.88) inset;
	box-shadow: 0px 0px 21px rgba(50, 50, 50, 0.88) inset;
	border-top: 3px solid #6b701a;
	padding-bottom: 20px;
}

/* Начало блока "Предлагаю и особенности*/

.o-nas, .o-nas1{
	margin: 20px 0;
}
.o-nas1{
	float: left;
	position: relative;
}
.o-nas{
	float: right;
}
.o-nas ul li:hover, .o-nas1 ul li:hover{
	padding-left: 10px;
}
.o-nas ul li, .o-nas1 ul li{
	list-style: none;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	font: 14px Verdana, Sans-serif;
	text-shadow: -1px 0px 0px #fff;
	padding-top: 20px;
}
.o-nas1 ul li i{
	background: url(img/list.png) no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	padding-right: 5px;
}
.o-nas ul li i{
	background: url(img/galochka1.png) no-repeat;
	width: 15px;
	height: 17px;
	display: block;
	float: left;
	padding-right: 5px;
}
.ico-2{
	float: left;
	margin:0px 20px 20px 0;
}
.o-nas1 h1, .o-nas h1{
	font-family: 'ArlekinoRegular', Sans-Serif;
padding: 0px 0px 0px 90px;
text-shadow: 1px 1px 5px #fff;
color: #303030;
}
.o-nas1 ul li, .o-nas ul li{
	float: left!important;
}
.o-nas1 ul, .o-nas ul{
	margin: 20px 0;
}
.separator1{
	background: url(img/separator1.png) repeat-x;
	width:100%;
	height: 3px;
	margin: 20px 0;
}
.o-nas1:after{
	content: '';
	border-right: 1px solid #B1B1B1;
	border-left: 1px solid #F2F1F1;
	height: 195px;
	position: absolute;
	top: 80px;
	right: -5px
}
.medal:first-child{
	float: left;
}
.medal{
	float: right;
}
.osobennost{
	text-align: center;
	line-height: 55px;
	text-shadow: 1px 1px 3px #d3d3d3;
	color: #303030;
	font-size: 21px;
	font-family: 'ArlekinoRegular', Sans-Serif;
	font-weight: bold;
	padding-right: 50px;
}
.osobennost:before{
	background: url(img/medal.png) no-repeat;
	width: 46px;
	height: 55px;
	display: block;
	content: '';
	float: left;
}
.osobennost:after{
	background: url(img/medal.png) no-repeat;
	width: 46px;
	height: 55px;
	display: block;
	content: '';
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}
.some-works{
	text-shadow: 1px 1px 1px #fff;
	line-height: 50px;
	position: relative;
	width: 43%;
	margin: 0 auto;
	padding-left: 40px;
	color: #303030;
	font-family: 'ArlekinoRegular', Sans-Serif;
}
.some-works:before{
	background: url(img/portfolio1.png) no-repeat;
	width: 44px;
	height: 67px;
	content: '';
	display: block;
	position: absolute;
	left: 11px;D
	top: -10px;
}
.center{
	text-align: center;
}
/* Начало блока с работами*/
.port-box{
width: 288px;
min-height: 357px;
padding: 10px 10px 0px 10px;
margin: 15px 20px 15px 30px;
float: left;
background: rgba(0,0,0,0.2);
color: #999;
text-shadow: 0 1px 0 rgba(0,0,0,1.0);
position:relative;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid rgba(0,0,0,0.25);

-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
}
.port-box > a {
	position:absolute;
	transition-property:all;
	transition-duration:0.3s;
	transition-timing-function:ease-in-out;
	-webkit-transition-property:all;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease-in-out;
	opacity: 1;
	z-index: 1000;
}
.port-box > a:hover {
	opacity: 0.1;
}
.hidden-name{
	background: url(img/mini/poflogka.png) no-repeat;
	width: 288px;
	height: 320px;
	text-align: center;
	display: block;
	position: absolute;
	z-index: 1;
}
.hidden-name p{
	margin: 170px 0 0 0;
	left: 100px;
	color: #fff;
	text-shadow: -1px 0px 0px #000;
	font: 30px 'Bonzai', Sans-Serif;
}
.perei{
font: bold 24px 'Bonzai', sans-serif!important;
position: absolute;
bottom: 7px;
left: 70px;
display: block;
color: #4E4E4E;
font-size: 20px;
text-shadow:none!important;

}

/*Начало футера*/
footer{
	background: url(img/bg-footer.png);
	min-height: 100px;
	border-top: 3px solid #9B9B8E;
}
footer img{
	margin: 20px auto;
	display: block;
}
footer p{
	text-align: center;
	color: #97978D;
	margin: 0px 0 20px 0;
	font: bold 24px 'Bonzai', sans-serif;
}
footer a{

	transition: color 0.3s ease-in-out 0s;
	-moz-transition: color 0.3s ease-in-out 0s;
	-o-transition: color 0.3s ease-in-out 0s;
	-webkit-transition: color 0.3s ease-in-out 0s;

}
footer a:hover,.perei:hover{
	color: #005580;
	text-decoration: none!important;
	opacity: 1!important;
	text-shadow:none!important;

}
.span4 li{
	display: block;
}
.btn-gold{
	font-size: 17px;
	font-weight: bold;
	background: rgb(239,220,112); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VmZGM3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2RlMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(239,220,112,1) 1%, rgba(247,222,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,220,112,1)), color-stop(100%,rgba(247,222,2,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(239,220,112,1) 1%,rgba(247,222,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,220,112,1) 1%,rgba(247,222,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(239,220,112,1) 1%,rgba(247,222,2,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(239,220,112,1) 1%,rgba(247,222,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdc70', endColorstr='#f7de02',GradientType=0 ); /* IE6-8 */



}
.btn-gold:hover{

background: rgb(229,180,2); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1YjQwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmRjNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(229,180,2,1) 0%, rgba(239,220,112,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,180,2,1)), color-stop(100%,rgba(239,220,112,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,180,2,1) 0%,rgba(239,220,112,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,180,2,1) 0%,rgba(239,220,112,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,180,2,1) 0%,rgba(239,220,112,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,180,2,1) 0%,rgba(239,220,112,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5b402', endColorstr='#efdc70',GradientType=0 ); /* IE6-8 */
}
.zamena{
	display: none;
}
.sep-10{
	border-top: 1px solid #818181;
	border-bottom: 1px solid #282828;
	width: 80%;
	display: block;
	margin: 5px 0;
}
.pre-footer{
	background: url(img/pattern-dark.png) repeat 50% 0;
	min-height: 250px;
}
.waves{
	background: url(img/footer-style.jpg) repeat-x 50% 0;
	z-index: 1;
}
.waves p{
	font-family: 'Tahoma';
	font-size: 1.1em;
	text-align: justify;
	line-height: 25px;
	text-shadow: none;
}
.waves h3{
	font-weight: bold;
	color: #564747;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	font-family: 'DeusExRegular', Sans-Serif;
	font-size: 22px;
}
.waves img{
	float: left;
}
.waves .row{
	padding-top: 0%;
}
.dash{
	min-height: 2px;
	background: url(img/top-dash.png) repeat-x;
	margin: 0;
	padding-bottom: 1%;
}
.padding-bottom{
	padding-bottom: 0%;
	margin-top: 3%;
}
.padding-bottom a{
	width: 35%;
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
}
.padding-bottom a:hover{
	border-top: 2px dashed #564747;
	border-bottom:2px dashed #564747;
	text-decoration: none;
	margin-bottom: 13px;
	margin-top: -2px;
}
.img-border{
	float: right!important;
	border: 6px solid #ECECEC;
	margin: 0 0 2% 2%;
}
.bot-cont-data a:hover{
	margin-bottom: 13px;
}
.bot-cont-data a{
	width: 90%!important;
}
.bot-cont-data p, .bot-cont-data img {
	margin-top: 4px;
	padding-right: 2%;
}
/* Анимация Сайт Верстальщика */
.roll-link{
	color: #758311;
	font-weight: bold;
	text-decoration: none;
	margin-left:-5px!important;
}
.roll-link p{
width: 380px;
font-weight: bold;
display: block;
position: relative;
padding: 0 2px;
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-ms-transition: all 400ms ease;
transition: all 400ms ease;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
-ms-transform-origin: 50% 0%;
transform-origin: 50% 0%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
outline: 0;
vertical-align: baseline;
background: transparent;
margin: 33px 0;
}
.roll-link p:after{
width: 380px;
content: 'Сайт Web-верстальщика';
display: block;
position: absolute;
left: 0;
top: 0;
padding: 0 2px;
color: #BCD122;
border-bottom: 10px solid #189700;
border-top: 10px solid #C50000;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
-ms-transform-origin: 50% 0%;
transform-origin: 50% 0%;
-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
-ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
.roll-link:hover p {
        background: #000;
         

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}
/* tasty things starts*/
.fade-2{
 position: absolute;
 top: -33px;
 left: 40.5%;
 z-index: 1000;
 cursor: pointer;

}
.icq, .skype {
	margin-top: 7px!important;
}
/* tasty things ends*/
/*Медиа запросы*/


@media screen and (min-width: 963px) and (max-width:1220px) {
	.container{
		padding: 20px 0 0 0;
		width: 90%;
	}
	.osobennost{
		padding-left: 25px;
	}
	.padding .span6{
		width: 352px;
		margin: 0 auto;
	}
	.mar-a{
		margin: 0 auto;
		display: block;
		padding: 0;
		width: 100%;
	}
	.logo-block{;
		margin-left: 25px;
	}
	.container{
		width: 100%;
	}
	.about-site{
		margin: 40px 10px 0 0;
		float: right;
		width: 62%;
	}
	.logo{
		margin: 0 auto;
		display: block;
	}
	.slogan {
	margin: 15px 0 0 0px;
	}
	.cont-block{
		float: right;
		width: 390px
	}
	.portfolio_nav:after {
	display: none;
	}
	#port-name {
	margin: 6px 0 0 5px!important;
	}
	.ssilka{
		clear: left;
		float: left;
	}
	.btn-gold {
		font-weight: normal;
	}
	#image_container li {
		width: 24.5%;
	}
	.fleche {
		top: 95px;
	}
	#slider{
		display: none;
	}
	.zamena{
		display: block;
		margin: 20px auto;
		width: 84%;
		border: 3px solid #333;
	}
	.row-head{
		width:  620px;
		display: block;
		margin: 0 auto;

	}
	.datas{
		margin-left: 20px;
	}
	.works{
		width: 100px;
	}
	.full{
		width:100%;
		max-width:100%;
		margin: 0 auto;
		text-align: center;

	}
	.align{
		text-align: center;
		max-width:96%;
		margin: 0 auto;
		padding: 0;
	}
	.pad-none{
		padding: 0;
	}
	.span6{
		width: 550px;
	}
	.mar-l{
		width: 550px;
	}
	.mar-r{
		float: right;
		margin: 0 50px 0 0!important;
		width: 550px;
	}
	.o-nas1{
	padding-left: 80px;
	width: 370px;

	}
	.o-nas{
		padding-left: 30px;
		float: right;
		width: 460px;

	}
	.o-nas1:after{
		display: none;
	}
	.some-works{
		width: 470px;
	}
	.table-gen{
		width: 50%;
		float: left;
		margin: 0 auto;
		display: block;
	}
	.table-gen .span4{
		width: 310px;
		margin: 0 17%;
		display: block;
		clear: both;
		overflow: hidden;
	}
	.port-box{
		margin: 15px 0 0 0;
	}
	.table-gen{
		margin: 0 auto;
	}
	.bot-cont-data{
		width: 370px;
	}
	.about-me{
		padding-left: 20px;
		width: 94%;
	}
	.about-me a{
		width: 300px;
	}
	.bot-cont-data{
		margin: 0 auto;
		width: 480px;
		clear: left;
		padding-left: 40px;
	}
}


@media screen and (max-width:647px) {
	html, body{
		padding:0;
		margin: 0;
	}
	#slider{
		display: none;
	}
	.zamena{
		display: block;
		width: 90%;
		margin: 10px auto;
	}
	.logo-block{
		text-align: center;
	}
	.slogan{
		margin: 10px auto 30px;
	}
	.cont-data{
		margin: 0 auto;
		float: none;
		width: 60%;
	}
	.datas{
		text-align: center;
	}
	.o-nas1:after{
		display: none;
	}
	.portfolio_nav:after {
	display: none;
	}
	.o-nas1, .o-nas{
		padding-left: 20px; 
	}	
	.some-works{
		width: 400px;
	}
	.some-works:before{
		left: -40px;
	}
	.port-box{
		margin: 0 6px 10px;
		padding: 5px 5px 0 5px;
	}
	.table-gen{
		float: left;
	}
	.about-me a{
		width: 300px;
		text-align: center;
		margin: 0 auto;
		border-top: 2px dashed #564747;
		border-bottom:2px dashed #564747;
		margin-bottom: 13px;
		margin-top: -2px;
	}
	.bot-cont-data a{
		border-top: 2px dashed #564747;
		text-align: center;
		margin: -2px auto 13px;
		margin: auto;
	}
	.about-me p{
		padding: 10px;
	}
	.about-me a:hover{
		border-top: 2px solid #564747;
		border-bottom:2px solid #564747;
	}
	.bot-cont-data{
		margin: 0 auto;
		width: 380px;
	}
	.bot-cont-data img{
		margin-left: 20px;
	}
	.bot-cont-data a:hover{
		border: none;
		margin: 0 auto;
		border-top: 2px solid #564747
	}
	footer p{
		padding: 10px;
	}
	.fade-2 {
		left: 33.5%;
	}
}
@media screen and (min-width:648px) and (max-width:962px) {
	#slider{
		display: none;
	}
	.zamena{
		display: block;
		margin: 10px auto;
	}
	.portfolio_nav:after {
	display: none;
	}
	.o-nas1:after{
		display: none;
	}
	body{
		margin: 0;
		padding: 0;
	}
	.ssilka{
		clear: left;
		margin: 0;
		padding: 0;
	}
	.row-head{
		width:  647px;
		display: block;
		margin: 0 auto;

	}
	.logo-block{
		width: 200px;
		float: left;
	}
	.about-site{
		margin: 0 10px 0 0;
		float: right;
		width: 62%;
	}
	.cont-data{
		margin: 0 auto;
		float: none;
		width: 60%;
	}
	.cont-block{
		float: right;
		width: 390px
	}
	.cont-data{
		margin: 0 auto;
		float: none;
		width: 390px;
	}
	.works{
		width: 100px;
	}
	.portfolio_nav{
		width: 140px;
		padding: 0;
		margin: 0 0 0 5px;
		float: left;
	}
	.logo{
		margin: 0 auto;
		display: block;
	}
	.logo-block{
		width: 18%;
		margin-left: 15px;
	}
	.some-works{
		width: 400px;
	}
	.some-works:before{
		left: -40px;
	}
	.table-gen{
		float: left;
		width: 45%;
		margin: 0 0 0 4%;
	}
	.table-gen .span4{
		float: left;
		width: 310px;
		margin-left: 0;
	}
	.port-box{
		float: left;
		margin: 0px 0 10px 0;
	}
	.container{
		padding: 30px 0 0 0;
	}
	.about-me, .bot-cont-data, .o-nas1, .o-nas {
		padding: 0 10px;
	}

}
@media screen and (max-width:480px) {
	.container{
		overflow: hidden;
	}
	.table-gen{
	width:100%!important;
	margin: 0 auto;
	}
	.table-gen .span4{
		margin: 0 auto;
		display: block;
		width: 310px;
	}
	.some-works {
	width: 280px;
	}
	.some-works:before{
		left: 0px !important;
	}
	.osobennost{
		padding-left: 50px;
	}
	.osobennost:before{
		position: absolute;
		left: 0;

	}
	.cont-data {
		width: 90%;
	}
	.roll-link p:after{
		width: 310px;
	}
	.roll-link p {
		font-size: 15px;
		width: 310px;
	}
	.roll-link:hover p {
		background: none;
		transform:none;
		-o-transform:none;
		-webkit-transform:none;
		-moz-transform:none;
	}
	.fade-2 {
	left: 28.5%;
	}
}
@media screen and (max-width:320px) {
	table-gen {
	padding-left: 17%;
	}
	.roll-link p {
		font-size: 15px;
		width: 310px;
	}
	.roll-link:hover p {
		transform:none;
		-o-transform:none;
		-webkit-transform:none;
		-moz-transform:none;
	}
	.fade-2 {
	left: 16.5%;
	}

}