#container{
position: absolute;
top: 42px;
left: 45px;
height: 150px;
width: 870px; /* 3 images of 150px showing with a 10px margin = 3*(150) + 2*(10) = 470 */
overflow: hidden;
}
 
 
#container img{
position: absolute;
top: 0px;
height: 137px;
width: 195px;
cursor: pointer;
overflow: hidden;
}
 
#carouselLeft{
position: absolute;
top: 90px;
left: 0px;
cursor: pointer;
}

#carouselRight{
position: absolute;
top: 90px;
cursor: pointer;
right: 0;
}