.carousel  {
   width: 300px; 
   margin: 10px auto 50px;
   z-index: 1000;
}

.carousel h1 {
   font-family: arial;
    font-size: 22px;
    margin-left: 40px;
}
.carousel-wrapper {
   width: 270px; 
   overflow: hidden; 
   margin:0px;
   padding:0px;
   position:relative;
}
.carousel-items {
   width: 10000px; 
   position: relative; 
}
.carousel-block {
   float: left; 
   width: 45px; 
   padding: 10px 10px;
}


.carousel-button-left a, .carousel-button-right a{
   width: 14px; 
   height: 34px; 
   position: relative;
   top: 25px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left a{
   float: left; 
   background: url(../img/carousel-t-left.png); 
}
.carousel-button-right a{
   float: right;
   background: url(../img/carousel-t-right.png); 
}

.carousel-block .img {
	 border: 1px solid #c0c0c0;
    border-radius: 2px;
    height: 55px;
    width: 55px;
}

.carousel-block img {
	display: table;
    left: 0;
    margin: auto auto 0;
    padding-top: 5%;
}

.carousel-block a {
	color: #0066cc;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
}