body { height:100%; margin:0 auto; font-family: "arial";  /*border:1px solid #000;*/}
   #header{position:relative; width:100%; height:100%; /*border:1px solid #000;*/}
     .logo {position:absolute; width:200px; height:128px; /*border:1px solid #000;*/}
	 .logo img {position:absolute; padding-top:17px; margin-left: 30px;}
	 .text1{ position:absolute; width:420px; height:22px;  margin:20.5px 0 0 250px;/*border:1px solid #000;*/ }
	 .text1 p {position:absolute; font:18px "Trebuchet MS"; color:#0066cc; }
     .text2 {position:absolute; width:390px; height:36px;  margin:45px 0 0 250px;/*border:1px solid #000;*/ }
	 .text2 p { position:absolute; font:27px "Trebuchet MS"; color:#0066cc; margin-top: 20px; }
		 .sec {width:486px; height:97px; #border:1px solid #000; display: inline-block;}
		 .header_menu {width:1185px; height:38px; margin-top: 29px; border-radius:5px; background-color:#0066cc; clear:both; overflow:hidden; /*border:1px solid #000;*/ }		 
	  .header_menu ul{ list-style-image: url("../img/sep.png"); margin-left: 0px; list-style-position: inside;}
	  .header_menu li:first-child { list-style: none; float:left; margin-right: -1px; padding-top: 11px; margin-bottom:10px; display:block; border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
	  .header_menu li{ float:left; margin-right: -1px; padding-top: 6px;}
	  .header_menu a{text-decoration:none; height: 25px;  letter-spacing:1px; font:22px  "Times New Roman"; color:#fff; margin-left: 7px; margin-right: 17px; vertical-align: top;}
	  .header_menu li:first-child a{ display: block; text-decoration:none; height: 25px;  letter-spacing:1px; font:22px  "Times New Roman"; color:#fff; margin-left: 7px; margin-right: 17px; margin-top: -15px; margin-left: 20px; padding-bottom: 7px; padding-top: 10px; vertical-align: top;}
	   .header_menu li:hover {outline:0; }
	   .header_menu .active {outline:0; background:#164386;}
	   .header_menu .color1 {outline:0; background:#0aa4dc;}
	   .header_menu .color2 {outline:0; background:#164386;}
	   .header_menu .color3 {outline:0; background:#17934d;}
	   .header_menu .color4 {outline:0; background:#16a19e;}
	   .header_menu .color5 {outline:0; background:#aae0f4;}
	   .header_menu .color6 {outline:0; background:#5f5f5f;}
	   .header_menu .color7 {outline:0; background:#1d79a8;}	   
		.header_menu .active-grey {outline:0; background:#5f5f5f;}
	   .header_menu .c1:hover {outline:0; background:#0aa4dc;}
	   .header_menu .c2:hover {outline:0; background:#164386;}
	   .header_menu .c3:hover {outline:0; background:#17934d;}
	   .header_menu .c4:hover {outline:0; background:#16a19e;}
	   .header_menu .c5:hover {outline:0; background:#aae0f4;}
	   .header_menu .c6:hover {outline:0; background:#5f5f5f;}
	   .header_menu .c7:hover {outline:0; background:#1d79a8;}
	   .head_form{}	   
	   .head-form input{float:left;}
		.serch-form{width:183px; height:28px; margin:5px 0 0 0; border-radius:5px;}
		a:hover {text-decoration: none}
	#tab1{width:100%; overflow: hidden; margin-top: 15px;}
	  .tab-b { float:left; width:296px; vertical-align:top;}
	     .tab-c {#display: inline-flex; margin-top: 5px; margin-bottom: 5px; width: 290px!important; float: left; position: relative;}
		 .tab-c img { height: 27px; position: relative; width: 29px; margin-top: 2px; border-radius: 5px;}
		 .tab-c a { font:20px "Times New Roman"; color:#0066cc; padding: 0 16px 0 13px; margin-left: -7px; height: 27px; vertical-align: top; display: inline-block; margin-top: 3px; }
		 .tab-c  a.red { font:20px "Times New Roman"; color:#0066cc; padding-left: 13px; margin-top: 3px; margin-left: -11px; height: 27px; }
		 .tab-c  a.green { font:20px "Times New Roman"; padding-left: 16px; margin-top: 0px; margin-left: -14px;  border: none; height: 28px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding-top:2px;}
		 .tab-c a.grey { font:20px "Times New Roman"; color:#0066cc; padding-left: 13px; margin-top: 0; margin-left: -3px; height: 27px; vertical-align: top; display: inline-block; }
		 .tab-c a.blue { font:20px "Times New Roman"; color:#0066cc; padding-left: 13px; margin-top: 0; margin-left: -12px; height: 27px; vertical-align: top; display: inline-block; padding-top:3px; }
		 .tab-c  a:hover { background:#164386; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 13px; margin-top: 2px; margin-left: -8px; height: 24px; padding-right:17px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding-top: 1px; padding-bottom: 2px; margin-bottom: 1px; }
		 .tab-c  a.red:hover { background:#ab145c; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-top: 2px; margin-left: -14px;  border: none; height: 24px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
		 .tab-c  a.green:hover { background:#79B400; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-bottom: 1px; margin-left: -14px;  border: none; height: 23px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding-bottom: 3px; }
		 .tab-c  a.green-active { background:#79B400; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-top: 2px; margin-left: -7px;  border: none; height: 25px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding-top: 2px;}
		 .tab-c  a.green-active:hover {
		 	background:#79B400; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-top: 2px; margin-left: -7px;  border: none; height: 23px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding-top: 2px;
		 }
		 .tab-c  a.blue:hover { background:#0066cc; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-top: 2px; margin-left: -15px;  border: none; height: 24px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
		 .tab-c  a.grey:hover { background:#5f5f5f; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 16px; margin-top: 0px; margin-left: -6px;  border: none; height: 29px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
		 .tab-c  a.blue_lite:hover { background:#aae0f4; font:20px "Times New Roman"; text-decoration: none; color:#fff; padding-left: 13px; margin-top: 0px; margin-left: -3px;  border: none; height: 29px; padding-right:20px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
		 .menu_tab2 {float: left; overflow: hidden;}
		 .menu_tab2 ul {list-style:none; overflow: hidden;}
		 .menu_tab2 li{float:left; font-size: 11px; font-weight: bold;}
		 .menu_tab2 a{font: bold 13px "Trebuchet MS"; color:#666666; padding:0 6px 0 6px;}
		 .menu_tab2 a:hover {color:#b3b3b3; text-decoration:none;}
		 .menu_tab2 a.active {color:#b3b3b3; text-decoration:none;}
	  .tab3{ width:296px; vertical-align:top;}
	      .kataloge img{position:absolute; margin:30px 0 0 0;}
		  .kataloge a{position:absolute; font:20px "Times New Roman"; color:#0066cc; margin:35px 0 0 39px;}
		  .kataloge a:hover{color:#921b5b;}
		  .kataloge1 img{position:absolute; margin:71px 0 0 0;}
		  .kataloge1 a{position:absolute; font:20px "Times New Roman"; color:#0066cc; margin:75px 0 0 39px;}
		  .kataloge1 a:hover{color:#921b5b;}
	  .tab4{ width:296px; vertical-align:top;}
	      .leson img {position:absolute; margin:30px 0 0 0;}
		  .leson a{position:absolute; font:20px "Times New Roman"; color:#0066cc; margin:35px 0 0 39px;}
		  .leson a:hover{color:#921b5b;}
		  .leson1 img{position:absolute; margin:71px 0 0 0;}
		  .leson1 a{position:absolute; font:20px "Times New Roman"; color:#0066cc; margin:75px 0 0 39px;}
		  .leson1 a:hover{color:#921b5b;}
	  .tab5{ width:296px; vertical-align:top;}
	      .text_about img {position:absolute; margin:30px 0 0 0;}
		  .text_about a{position:absolute; font:20px "Times New Roman"; color:#0066cc; margin:35px 0 0 39px;}
		  .text_about  a:hover{color:#921b5b;}
   #content {
	   position:relative; width:100%; height:100%;  /*border:1px solid #000; */}
      .snarayj{width:100%; height:30px; /*border:1px solid #000;*/}
	  .snarayj p {font:22px  "Arial"; color:#0066cd; margin-top:0px;}
	  #snar1{width:100%; height:228px;}
	  .snar2 { width:296px; vertical-align:top;}
	    .snar2 ul {position:absolute; list-style:none;}
	    .snar2 li { margin-top:5px; }
	    .snar2  a {font:14px "Arial"; color:#666666; }
	    .snar2 a:hover{color:#0066cc;}
	  .snar3 { width:296px; vertical-align:top;}
	    .snar3 ul {position:absolute; list-style:none;}
	    .snar3 li { margin-top:5px; }
	    .snar3  a {font:14px "Arial"; color:#666666; }
	    .snar3 a:hover{color:#0066cc;}
	  .snar4 { width:296px; vertical-align:top;}
	    .snar4 ul {position:absolute; list-style:none;}
	    .snar4 li { margin-top:5px; }
	    .snar4  a {font:14px "Arial"; color:#666666; }
	    .snar4 a:hover{color:#0066cc;}
	  .snar5 { width:296px; vertical-align:top;}
	  .ohota{width:100%; height:40px; margin-top: 40px; /*border:1px solid #000;*/}
	  .ohota p {font:22px  "Arial"; color:#0066cd;}
	  #ohota1 {width:100%; height:184px;}
	    .ohota2 {width:296px; vertical-align:top;}
		   .ohota2 ul{position:absolute; list-style:none;}
		   .ohota2 li{ margin-top:5px; }
		   .ohota2 a {font:14px "Arial"; color:#666666; }
		   .ohota2 a:hover {color:#0066cc;}
		.ohota3 {width:296px; vertical-align:top;}
		   .ohota3 ul{position:absolute; list-style:none;}
		   .ohota3 li{ margin-top:5px; }
		   .ohota3 a {font:14px "Arial"; color:#666666; }
		   .ohota3 a:hover {color:#0066cc;}		
		.ohota4 {width:296px; vertical-align:top;}
		   .ohota4 ul{position:absolute; list-style:none;}
		   .ohota4 li{ margin-top:5px; }
		   .ohota4 a {font:14px "Arial"; color:#666666; }
		   .ohota4 a:hover {color:#0066cc;}
		.ohota5 {width:296px; vertical-align:top;}	
  .plavat{width:100%; height:40px; margin-top: 40px; /*border:1px solid #000;*/}
  .plavat p {font:22px  "Arial"; color:#0066cd;}
    #plavat1 {width:1184px; height:160px;}
	  .plavat2 {width:296px; vertical-align:top;}
	   .plavat2 ul{position:absolute; list-style:none;}
	   .plavat2 li{ margin-top:5px; }
	   .plavat2 a {font:14px "Arial"; color:#666666;}
	   .plavat2 a:hover {color:#0066cc;}
	  .plavat3 {width:296px; vertical-align:top;}
	   .plavat3 ul{position:absolute; list-style:none;}
	   .plavat3 li{ margin-top:5px; }
	   .plavat3 a {font:14px "Arial"; color:#666666;}
	   .plavat3 a:hover {color:#0066cc;}
	  .plavat4 {width:296px; vertical-align:top;}
	   .plavat4 ul{position:absolute; list-style:none;}
	   .plavat4 li{ margin-top:5px; }
	   .plavat4 a {font:14px "Arial"; color:#666666;}
	   .plavat4 a:hover {color:#0066cc;}
	 .sredstva{width:100%; height:40px; margin-top: 40px; /*border:1px solid #000;*/}
	 .sredstva p {font:22px  "Arial"; color:#0066cd;} 
	  #sredstva1{width:100%; height:30px;}
	    .sredstva2{width:296px; vertical-align:top;}
		.sredstva2 a{font:14px "Arial"; color:#666666;}
		.sredstva2 a:hover{color:#0066cc;}
		.sredstva3{width:296px; vertical-align:top;}
		.sredstva3 a{font:14px "Arial"; color:#666666;}
		.sredstva3 a:hover{color:#0066cc;}
		.sredstva4{width:296px; vertical-align:top;}
		.sredstva4 a{font:14px "Arial"; color:#666666;}
		.sredstva4 a:hover{color:#0066cc;}
   #slai{width:100%; height:299px; #border:1px solid #000;}
  #int_predloj{width:100%; /*border:1px solid #000;*/}  
	#int_predloj p.z {
	font:bold 17px "arial"; 
	color:#000; 
	padding: 0;
	margin: 0;
	}
	   .iepe div {float:left;}
	  .iepe{width:100%; margin-top: 20px;}
	      .iepe-b {width:236.8px; vertical-align:top;}
		     .iepe-b a{font:17px "Arial"; color:#0066cc;}
			 .iepe-b p{ font: bold 12px "Arial"; color:#000; margin-top: 5px;}	
	   #block1  {width:100%; /*border:1px solid #000;*/ }
	      #int_predloj{position:static; width:1184px; clear: both; overflow: hidden; /*border:1px solid #000;*/} 
              .zagolovok{position:static; width:100%; /*border:1px solid #000;*/}  
	          .zagolovok p{position:static; font:21px  "Times New Roman"; color:#000; padding-top:5px; margin: 0;}
	       .iepe{ position:static; width:1184px;}
	        .iepe1, .iepe2, .iepe3, .iepe4, .iepe5 { width: 219px; padding-right: 20px; vertical-align:top;}
		     .iepe5 {
		     	padding-right: 0;
		     }
		     .iepe1 a{font:16px "Arial"; color:#0066cc;}
			 .iepe1 p{ font:14px "Arial"; color:#000;}

		      .iepe2 a{font:16px "Arial"; color:#0066cc;}
			  .iepe2 p{ font:14px "Arial"; color:#000;}

		      .iepe3 a{font:16px "Arial"; color:#0066cc;}
			  .iepe3 p{ font:14px "Arial"; color:#000;}

		     .iepe4 a{font:16px "Arial"; color:#0066cc;}
			 .iepe4 p{ font:14px "Arial"; color:#000;}

		     .iepe5 a{font:16px "Arial"; color:#0066cc;}
			 .iepe5 p{ font:14px "Arial"; color:#000;}
	#block2  {width:533px; float: left;	margin-bottom: 10px; /*border:1px solid #000;*/}	
		#left_block{position:static; width:533px; /*border:1px solid #000;*/}
		   .ser1{ position:static; width:533px; border:1px solid #e6e6e6; border-radius:5px; overflow: hidden; padding-bottom: 15px;
		   -webkit-box-sizing: border-box;
		      -moz-box-sizing: border-box;
		           box-sizing: border-box;
		   }
		     .stats{position: static; width:100%; height:45px; border-radius:5px 5px 0 0; background-color:#e6e6e6;}
			 #left_block .st {width: 510px; float: left; padding-left: 20px; padding-top: 15px;}
			 #left_block .st .date {color: #FF0000; font-family: "Arial"; font-size: 13px;}
			 #left_block .st img {float: left; margin-right: 10px;}
			 #left_block .st a {color: #0066CC; font: 16px "Arial";}
			 #left_block .st .text {color: #666666; font: 14px "Arial"; margin-top: 3px;}
			 .stats a {position:absolute; font:16x  "Arial"; color:#0066cc; padding:14px 0 0 22px;}
			 .fish{position:absolute; width:533px; height:88px; margin-top:59px; /*border:1px solid #000;*/}
			 .fish img{position:absolute; margin-left:20px;}
			 .fish p {position:absolute; font:14px "Times New Roman"; margin-left: 154px;}
			 .fish a {position:absolute; font:18px "Times New Roman"; color:#0066cc; margin:18px 0 0 154px;}
			 .texta {position:absolute; font:14px "Times New Roman"; margin-top:68px;}
			 .acvalang{position:absolute; width:533px; height:88px;  margin-top:161px;/*border:1px solid #000;*/}
			    .acvalang img {position:absolute; margin-left:20px;}
				.acvalang p{position:absolute; font:14px "Times New Roman"; margin-left: 154px;}
				.acvalang a{position:absolute; font:18px "Times New Roman"; color:#0066cc; margin:18px 0 0 154px;}
			     .textb {position:absolute; font:14px "Times New Roman";margin-top:68px;}
				 .poisk{position:absolute; width:533px; height:88px; margin-top:263px;/*border:1px solid #000;*/}
			    .poisk img {position:absolute; margin:0 0 0 20px;}
				.poisk p{position:absolute; font:14px "Times New Roman"; margin-left: 154px;}
				.poisk a{position:absolute; font:18px "Times New Roman"; color:#0066cc; margin:18px 0 0 154px;}
			    .textc {position:absolute; font:14px "Times New Roman"; margin-top:68px;} 
	 .more{position:absolute; width:533px; height:88px;  margin-top:365px;/*border:1px solid #000;*/}
			    .more img {position:absolute; margin:0 0 0 20px;}
				.more p{position:absolute; font:14px "Times New Roman"; margin-left: 154px;}
				.more a{position:absolute; font:18px "Times New Roman"; color:#0066cc; margin:18px 0 0 154px;}
			    .textd {position:absolute; font:14px "Times New Roman"; margin-top:68px;}		
		.ser2 {position:static; width:533px; height:331px; /*border:1px solid #000;*/}
		    .stats2 {position:static; width:100%; height:45px; border-radius:5px; background-color:#e6e6e6; margin-top: 5px;}
			.stats2 a{position:absolute; font:16px  "Arial"; color:#0066cc; padding:14px 0 0 22px;}
			.fishs1 img{ position:absolute; margin:10px 0 0;}
		    .fishs2 img{ position:absolute; margin:10px 0 0 271px;}
		    .fishs3 img{ position:absolute; margin:194px 0 0;}
		    .fishs4 img{ position:absolute; margin:194px 0 0 137px;}
		    .fishs5 img{ position:absolute; margin:194px 0 0 271px;}
		    .fishs6 img{ position:absolute; margin:194px 0 0 408px;}	
	 #block3{position:static; width:637px; /*border:1px solid #000;*/ margin-left: 15px;
float: left;  margin-bottom: 10px; }
	    .ser3{ position:static; width:100%; -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box; border:1px solid #e6e6e6; border-radius:5px; min-height: 250px; margin-bottom: 5px;}
		     .stats3 {position: static; width:100%; height:45px; border-radius:5px 5px 0 0; background-color:#e6e6e6;}
			 .stats3 a {position:absolute; font:16px  "Arial"; color:#0066cc; padding:14px 0 0 22px;}
			   .etaps1{position:absolute; height:34px; width:630px; margin-top:45px;/* border:1px solid #000;*/}
			      .etaps1 p, .etaps2 p, .etaps3 p, .etaps4 p, .etaps5 p, .etaps6 p, .etaps7 p, .etaps8 p, .etaps9 p  {position:absolute; font:13px "Arial"; margin:3px 0 0 16px;}
			      
			      .etaps1 a, .etaps2 a, .etaps3 a, .etaps4 a, .etaps5 a, .etaps6 a, .etaps7 a, .etaps8 a, .etaps9 a  {position:absolute; font:16px "Arial"; color:#0066cc; margin:0px 0 0 76px;}
			      
			      .etaps1 a:hover, .etaps2 a:hover, .etaps3 a:hover, .etaps4 a:hover, .etaps5 a:hover, .etaps6 a:hover, .etaps7 a:hover, .etaps8 a:hover, .etaps9 a:hover {color:#000;}
			   .etaps2{position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:70px;}
				  .etaps3{position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:95px;}
				 .etaps4{position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:120px;}
				 .etaps5{position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:145px;}
				.etaps6{position:absolute; height:34px; width:630px;/* border:1px solid #000;*/ margin-top:170px;}
			     .etaps7 {position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:195px;}
			     .etaps8 {position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:220px;}
			     .etaps9 {position:absolute; height:34px; width:630px; /*border:1px solid #000;*/ margin-top:245px;}

				 .ser4{ position:static; width:100%; height:197px; border:1px solid #e6e6e6; border-radius:5px; margin-bottom: 5px; 
				 	-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				         box-sizing: border-box;
				     }
				 .stats4 {position: static; width:100%; height:45px; border-radius:5px 5px 0 0;  background-color:#e6e6e6;}
			     .stats4 a {position:absolute; font:16px  "Arial"; color:#0066cc; padding:14px 0 0 22px;}
			       .forum1{position:static; width:100%; height:45px; /*border:1px solid #000;*/}
				   .forum1 p {position:absolute; font:14px "Arial"; margin:10px 0 0 20px;}
				   .forum1 a { position:absolute; font:16px "Arial"; color:#0066cc; margin:25px 0 0 20px;}
				   .forum2{position:static; width:100%; height:45px; /*border:1px solid #000;*/}
				   .forum2 p {position:absolute; font:14px "Arial"; margin:10px 0 0 20px;}
				   .forum2 a { position:absolute; font:16px "Arial"; color:#0066cc; margin:25px 0 0 20px;}
				   .forum3{position:static; width:100%; height:45px; /* border:1px solid #000;*/}
				   .forum3 p {position:absolute; font:14px "Arial"; margin:10px 0 0 20px;}
				   .forum3 a { position:absolute; font:16px "Arial"; color:#0066cc; margin:25px 0 0 20px;}    
				   .stats5 {position: static; width:100%; height:45px; margin:0px 0 10px; border-radius:5px;  background-color:#e6e6e6;}
			     .stats5 a {position:absolute; font:16px  "Arial"; color:#0066cc; padding:14px 0 0 22px;} 
				   .vid{position:static; width:476px; float: left; /*border:1px solid #000;*/ } 
				   .korz{position:static; width:110px; margin: 0px 0 0 24px; float: right;}
				   .spec {position:static; width:110px; margin: 15px 0 0 24px;
float: right; }
					hr{color:#0066cc; width:100%; #margin-top:-9px;}			  
		    #block-1{ width:100%; height:auto;  }
              .zag{ width:100%; }
			  .zag p { color: #0066cd;
font-weight: bold;
margin-bottom: 10px;
font-family: "Arial";
font-size: 22px;}
			  .seri1 { 
			  	-webkit-box-sizing: border-box;
			  	   -moz-box-sizing: border-box;
			  	        box-sizing: border-box;

			  	width:100%; overflow: hidden; border:1px solid #b3b3b3; border-radius:5px; background-color:#f2f2f2; margin-top: 10px;}
			  .kot {position:static; width:172px; height:171px;  margin: 14px 0 14px 14px; float: left;}
			  .fedin{position:absolute; width:242px; height:30px;  margin:14px 0 0 207px;}
			  .fedin p {font-family: trebuchet ms; font-size: 21px; font-style: italic; color:#0066cc; padding-top: 0;
margin-top: 0;
}
			  .snim{position:static; width:362px; margin:0px 0 0 0px;}
			  .snim p { font:14px "Arial"; color:#000; padding-top: 0;
margin-top: 0;
 }
			  .mi {position:static; width:362px; margin:0px 0 0 0px;}
			  .mi p {font:14px "Arial"; color:#000; width: 100%; padding-top: 0;
margin-top: 0;
}
			  .prizer{position:absolute; width:200px; margin:-2px 0 0 648px; }
			  .prizer p {font-size: 17px; font-family: Arial; margin-bottom: 10px;}
			  .prizer ul {position:absolute; list-style:none;}
			  .prizer li a{font:14px "Arial"; color:#0066cc;}
	    #block-2{ width:100%; height:155px; }
		#block-3{ width:100%; height:322px; }
		#block-2 a, #block-3 a {color: #0066cc;}
		   .fta{width:100%;}
		   .fta p {position:absolute; font:20px "Arial"; color:#000; margin-left:6px; margin: 5px 0 0 6px;}
		   .meduza1{position:absolute; width:336px; height:263px; margin-top:31px;}		   
		   .meduza2{position:absolute; width:136px; height:127px; margin:32px 0 0 351px;}
		   .meduza3{position:absolute; width:136px; height:127px; margin:32px 0 0 500px;}
		   .meduza4{position:absolute; width:285px; height:127px; margin:167px 0 0 349px;}
		   .meduza5{position:absolute; width:186px; height:127px;margin:32px 0 0 650px;}
		   .meduza6{position:absolute; width:186px; height:127px; margin:167px 0 0 648px;}
		   .meduza7{position:absolute; width:336px; height:263px; margin:31px 0 0 852px;}
		   	    #under_woter{ width:100%; height:50px; }
		  .foto_mir{position:absolute; width:400px; height:58px; }
		  .foto_mir p {color: #0066cd; font-family:     line-height: 15px; margin: 0; font-size: 26px; font-weight: bold;}
		  .plyc{display: block; height: 100%; margin-left: 901px; margin-top: 0; width: 284px;} 
	    #ct_o_foto{ width:100%; height:161px; }
		  .cof{position:absolute; width:100%; margin: 0px 0 20px;}
		  .cof p{#position:absolute;  margin:10px 0 0 0px;}
		  .cof a { 
		  	color: #0066cc;
			font-family: "Arial";
			font-size: 20px;
			
				}
		  .cnoc{ float: left; width:296px; height:113px; margin:43px 0 0 0;} 
		     .cnoc a{ font:16px "Arial"; color:#0066cc; margin-top:17px;}
			 .cnoc p{ font:14px "Arial"; color:#666666; margin-top:5px; padding-right: 10px;}
	#foto_konkurs{ width:100%; height:210px; }	
           .f_k1{position:absolute; width:100%; height:35px;}
		   .f_k1 p{position:absolute; font-size:22px; color:#000; margin: 0 0 0 0px;}
            .f_k2{position:absolute; width:100%; height:126px; margin-top:35px;}
			.f_k2 img{padding:0 0px 0 0;}
			.f_k3 {position:absolute; width:100%; height:49px; margin-top:160px;}
			.f_k3 ul { position:absolute; list-style:none;}
			.f_k3 li {float:left; margin:5px 0 0 30px;}
			.f_k3 a {font-size:14px; color:#0066cc; padding:0 37px 0 0;}
			.f_k2 li {float:left; list-style: none outside none;margin-right: 13px;}
			.f_k2 li  a{font:13px "Arial"; color:#0066cc;}
			.f_k2 li  a span{position: relative;
left: 7px;}
	#block4 { width:100%; height:398px; }
	#block4 a , #albom a , #foto_konkurs p a { color: #0066cc; font-family: "Arial"; font-size: 20px; }
	#foto_konkurs p a:hover { text-decoration: none; }
	        .foto_dnay {position:absolute; width:584px; height:398px;}
			.foto_dnay p {position: absolute;  font:20px bold "Times New Roman"; margin:4px 0 0 0px;}
			.foto_dnay img {position:absolute; margin-top:38px;}
			.last_foto {position:absolute; width:601px; height:398px;  margin-left:584px;}
			.lf0{ width:601px; height:35px;}
			.lf0 p{position:absolute; font:20px Arial; color:#000; margin:5px 0 0 16px;}
			.lf1 {position:absolute;margin:0 0 0 16px;}
			.lf2 {position:absolute; margin:0 0 0 163px;}
			.lf3 {position:absolute; margin:0 0 0 285px;}
			.lf4 {position:absolute; margin:0 0 0 387px;}
			.lf5 {position:absolute; margin:0 0 0 531px;}
            .lf6 {position:absolute; margin:46px 0 0 531px;}
            .lf7 {position:absolute; margin:93px 0 0 164px;}
			.lf8 {position:absolute; margin:92px 0 0 240px;}
			.lf9 {position:absolute; margin:137px 0 0 17px;}
			.lf10 {position:absolute; margin:184px 0 0 17px;}
			.lf11 {position:absolute; margin:138px 0 0 91px;}
			.lf12 {position:absolute; margin:231px 0 0 17px;}
			.lf13 {position:absolute; margin:275px 0 0 241px;}
			.lf14 {position:absolute; margin:276px 0 0 352px;}
			.lf15 {position:absolute; margin:276px 0 0 458px;}
			.lf16 {position:absolute; margin:93px 0 0 532px;}
			.lf17 {position:absolute; margin:138px 0 0 532px;}
			.lf18 {position:absolute; margin:183px 0 0 532px;}	
		#albom{width:100%; margin-top: 30px; }
		#albom .albom1 {margin-bottom: 20px; }
		#albom ul li{float:left; list-style: none outside none; margin-left: 0px; margin-right: 13px; margin-bottom: 20px;}
	      #n_f { float: left; width: 100%; }
           .n_f1{}
		   #n_f .n_f1 h1{font-family: "Arial"; font-size: 24px; color:#000;}
		   .n_f2 {float: left;}
		   .n_f2 p {font: 16px "Trebuchet MS";
color: #666666;
margin: 20px 0 0 0;}
		   .n_f2 a {font: 16px "Trebuchet MS";
color: #0066cc;
margin: 20px 0 0 0; position: relative; z-index: 1000;}
             #n_f .n_f2 h2 {color: #0066CC; font-family: arial; font-size: 20px;}
			.n_f3 {float: left; margin-left: 50px; margin-top: -25px;}
			.n_f3 p{font:18px "Times New Roman"; color:#0066cc; margin-top:45px; margin-left: 20px;}
			.n_f3 a{color:#0066cc; position: relative; z-index: 1000;}
			.n_f4 {float: right; position: absolute;
left: 85px;}
	   #foto{ width:100%;}
	   #foto .foto-b {float: left; margin-bottom: 40px; margin-top: 7px;}
	   #foto .foto-b p{font:20px "Arial"; color:#000;}
	   #foto .foto-b img{padding-right: 11px;}
	   #foto .foto-b a {color: #0066cc;}
	   #foto .foto-b a:hover {text-decoration: none}
	#cifrs{ width:100%; height:72px; float: left; margin-top: 10px;}
	       .c_rs1 ul{position:absolute; list-style:none;}
		   .c_rs1 li{float:left; margin:15px 7px 0 5px;}
		   .c_rs1 a {font: bold 16px "Arial"; text-decoration: none; color:#0066cc; margin-top: 10px;}
		              #foto_nazva{width:100%; height:30px;}
		      .fo_n{margin-top: 50px; width:100%; height:98px; }
			    .fo_n1{position:absolute; width:100%; height:49px;}
				.fo_n1 h1{position:absolute; font:24px Arial; color:#0066cc; margin:20px 0 0 0;}
			    .fo_n2 {position:absolute; width:200px; height:49px; margin-top:45px; }
				.fo_n2 p{font:16px "Trebuchet MS"; color:#666666; margin:20px 0 0 0;}
				.fo_n2 p a{font:16px "Trebuchet MS"; color:#0066cc; margin:20px 0 0 0;}
				.fo_n3 {position:absolute; width:250px; height:49px; margin:45px 0 0 250px; }
				.fo_n3 p{position:absolute; font:16px "Trebuchet MS"; color:#666666; margin:20px 0 0 0;}
				.fo_n4 {position:absolute; width:88px; height:49px; margin:45px 0 0 693px; }
                .fo_n4 p{position:absolute; font:16px "Trebuchet MS"; color:#666666; margin:20px 0 0 0; width: 100px;}
           #slaider{width:100%; height:554px;margin-left: -375px; overflow: hidden;}
		   #e_f{width:100%; height:364px;}
		         .e_f1{ width:100%; height:35px;}
				 #e_f .e_f1 a{font:18px "Arial"; color:#0066cc; margin-top: 10px; display:block;}
				 .e_f2 { width:100%; height:40px;}
				 .e_f2 p {font:16px "Arial"; color:#666666; float: left;}
				 .e_f3 { width: 785px;}
				 .e_f3 p {font:16px "Arial"; padding:0 0 0 0;}
				 .e_f4{width:100%; height:120px;}
				 .e_f4 h4{ font:18px "Arial"; margin-top:20px; margin-bottom: 7px;}
				 .i_d {font:13px "Times New Roman"; color:#0066cc;}
				 .i_d a {font:16px "Arial"; color:#666666; text-decoration: none;}
				 .i_d1{font:16px "Arial"; color:#000; margin-bottom: 12px;}
		#komentar{width:100%; height:auto; margin:125px 0 0 0;}
		         .k_r1 {display: block; margin-top: 40px;}
				 #komentar .k_r1 h3 {font-family: "Arial"; font-size: 16px; color:#666666; margin-bottom: 5px; }
				 #komentar .k_r1 textarea { 
				 	-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				         box-sizing: border-box; 
				         border: 1px solid #B3B3B3; border-radius: 4px; height: 95px; resize: none; width: 780px; }
				 #komentar .k_r1 input[type=submit] {background: none repeat scroll 0 0 #FF0000; display:block; border: medium none; border-radius: 4px; color: #FFFFFF; font-family: "Arial"; font-size: 14px; font-weight: bold; height: 42px; width: 148px; margin-left: 633px; margin-top: 15px; margin-bottom: 20px; cursor: pointer; }
  #footer {
	   background-color: #e6e6e6; position:relative; width:100%; height:98px; float: left; margin-top: 20px; /*border:1px solid #000;*/}
      .fon_footer{width:100%; height:63px; /*border:1px solid #000;*/ background-color:#e6e6e6;}
        .dann{position:absolute; width:280px; height:63px; padding:0 0 0 0; /*border:1px solid #000;*/}
        .dann p {position:absolute; font:12px "Arial"; color:#000; padding:35px 0 0 26px;}
		
		.menu_footer{width:330px; height:63px; margin-left:420px;  margin-top: -55px; /*border:1px solid #000;*/}
		  .menu_footer ul {position:absolute; list-style:none;}
		  .menu_footer li {float:left; margin-top:22px;}
		  .menu_footer a{font:14px "Arial"; color:#0056a0; padding:0 6.5px;}
{ padding:0; margin:0;}