
@font-face {
  font-family: 'GillSansC';
  src: url('GillSansC.eot?#iefix') format('embedded-opentype'),  url('GillSansC.otf')  format('opentype'),
	     url('GillSansC.woff') format('woff'), url('GillSansC.ttf')  format('truetype'), url('GillSansC.svg#GillSansC') format('svg');
  font-weight: normal;
  font-style: normal;
}
