*{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	border: 0;
}
.bg-hills{
	background: url(images/header-bg1.jpg) repeat-x left top;
	height: 181px;
}
header, section{
	max-width: 1280px;
	min-width: 990px;
	margin: 0 auto;
	position: relative;
}
body{
	font-family: Tahoma;
	background: #eee;
}
a{
	color: #1c56a0;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;

}

.bg-car{
	background: url(images/bg-car.png) no-repeat left top;
	height: 181px;
	width: 648px;
}
.ico{
	position: absolute;
	left: 0;
	top: 0;
	margin: 30px 0 0 20px;
}
.ico li{
	margin-bottom: 20px;
}
.search-form{
	background: #eee;
	position: absolute;
	right: 0;
	top: 0;
	width:285px;
	border-radius: 0 0 0 10px;
	padding: 10px 0 10px 30px;
	overflow: hidden;
}
.search-form input{
	float: left;
}
.search{
	background: #fff;
	border: 1px solid #a5acb2;
	margin-right: 10px;
	width:135px;
	height:18px;
}

.nav{
	border-bottom: 4px solid #93b0c8;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 90px;
	padding: 0 80px 3px 0;

}
.nav li{
	font: bold 15px "Trebuchet MS";
	border-left:1px solid #ebf0f5;
	color:#ebf0f5;
	float: left;
	padding: 0 10px 0 10px;
	line-height: 1;
	text-transform: uppercase;
}
.nav li a{
	color:#ebf0f5;
	text-decoration: none;
}
.nav li a:hover{
	text-decoration: underline;
}
.nav li:first-child{
	border:none;
	padding-left: 0;
	text-transform: uppercase;
}
.under-content{
	background:#fff url(images/bg-under.png) top repeat-x;
}

.table-content{
	width: 100%;
	background: url(images/bg-content.png) right top no-repeat;
	margin: 0 0 -2px 0;
	border: none;
}
.logo{
	text-align: right;
	padding-top: 10px;
}
.left-bar{
	font-size: 12px;
	color: #313131;
	vertical-align: top;
	padding: 0 40px 30px 0;
}
.left-bar h2{
	font: normal 21px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 7px 20px;
}
.left-bar h3{
	font: normal 18px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 5px 20px;
}
.left-bar h4{
	font: normal 15px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 5px 20px;
}
.left-bar h5{
	font: normal 12px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 5px 20px;
}
.left-bar h6{
	font: normal 9px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 5px 20px;
}
.left-bar p{
	font-size: 12px;
	color: #313131;
	text-align: justify;
	padding: 0 0 20px 20px;
}
.left-bar h1{
	font: normal 24px "Trebuchet MS";
	color: #1c56a0;
	padding: 0 0 10px 20px;
}
.print{
	font:normal 10px "Trebuchet MS";
	text-align: right!important;
}
.print a{
	color: #1c56a0;
	text-decoration: none;
}
.print a:hover{
	text-decoration: underline;
}
.print img{
	position: relative;
	top: 8px;
	margin-left: 10px;
}
.right-bar{
	vertical-align: top;
	width: 480px;
	padding: 25px 35px 0 0;
	margin-left: 2px;
}
.product-main{
	overflow: hidden;
	margin: -15px 0 20px 0;
	padding: 0 15px 20px 0;
}
.right-bar div:nth-child(4){
	padding: 0 15px 0 0;
}
.product-main img{
	float: left;
	padding: 0 10px;
}
.product-main h1{
	font: bold 11px Tahoma;
	color: #1c56a0;
}
.product-main a{
	color: #1c56a0;
	text-decoration:none;
}
.product-main a:hover{
	text-decoration: underline;
}
.product-main p{
	font: normal 10px Tahoma;
}
.vkladka{
	background: url(images/vkladka.png) top left no-repeat;
	font: normal 18px "Trebuchet MS";
	color: #1c56a0;
	text-decoration: underline;
	margin: -73px 0px 0px 0px;
	position: relative;
	width: 475px;
	height: 79px;
	padding: 15px 0 0 18px;
}
.all-product{
	font: bold 10px Tahoma;
	text-decoration: none;
	text-align: right;
	display: block;
	border-top: 1px solid #c9d7e8;
	margin-left: 10px;
	padding-right: 15px;

}
.all-product:hover{
	text-decoration: underline;
}
.all-product img{
	padding-right: 5px;
	margin-bottom: 1px;
}
.right-bot{
	background: url(images/contact-bg.jpg) no-repeat bottom right;
	padding: 0 35px 230px 0;
}
.contact{
	text-align: right;
	margin-right: 20px;
	position: relative;
}
.contact h3{
	font: bold 12px "Trebuchet MS";
	color: #1c56a0;
	margin:25px 0 5px 0;
}
.contact p span{
	font: bold 12px Tahoma;
	color: #1c56a0;
}
.contact p{
	font: normal 11px Tahoma;
	color: #3d3d3d;
	margin-top: 20px;
	line-height: 1.2;
}
.contact a{
	color: #1c56a0;
	text-decoration: none;
}
.contact a:hover{
	text-decoration: underline;
}
.toper{
	position: absolute;
	right: -17px;
	bottom: -225px
}
footer{
	background: #eee;
	overflow: hidden;
	max-width: 1280px;
	min-width: 990px;
	margin: 0 auto;
}
.atstar{
	float: left;
	margin: 40px 0 20px 40px;
}
footer p{
	color: #6d6e71;
	text-align: right;
	font: normal 11px Tahoma;
	margin: 40px 0px 0px 30%;
	float: left;
}
footer p a{
	color: #1c56a0;
}
footer p a:hover{
	text-decoration: none;
}
.statistic{
	float: right;
	margin: 20px 10px 10px 0;
}
.statistic img{
	float: left;
	margin: 0 5px 5px 0;
	
}