.carousel  {
   width: 1070px; 
   margin: 50px auto;
}

#content .carousel h1 {
   font-family: "Arial";
    font-size: 22px;
    margin-left: 40px;
	margin-bottom: 0;
	color: #000;
}
.carousel-wrapper {
   width: 1000px; 
   overflow: hidden; 
   margin:0px;
   padding:0px;
   position:absolute;
   left: 30px;
}
.carousel-items {
   width: 10000px; 
   position: relative; 
}
.carousel-block {
   float: left; 
   width: 180px; 
   padding: 10px 10px; 
}


.carousel-button-left a, .carousel-button-right a{
   width: 30px; 
   height: 95px; 
   position: relative;
   top: 40px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left a{
   float: left; 
   background: url(../img/carousel-left.png); 
}
.carousel-button-right a{
   float: right;
   background: url(../img/carousel-right.png); 
}

.carousel-block .img {
	 border: 1px solid #c0c0c0;
    border-radius: 4px;
    height: 156px;
    width: 184px;
}

.carousel-block img {
	display: table;
    left: 0;
    margin: auto auto 0;
    padding-top: 5%;
}

.carousel-block a {
	color: #0066cc;
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
}