@font-face {
    font-family: 'AmerikaRegular';
    src: url('amerika_.eot');
    src: url('amerika_.eot') format('embedded-opentype'),
         url('amerika_.woff') format('woff'),
         url('amerika_.ttf') format('truetype'),
         url('amerika_.svg#AmerikaRegular') format('svg');
}
