/* FONTS */
@font-face {
    font-family: 'AmerikaRegular';
    src: url('fonts/AMERIKA_/amerika_.eot');
    src: url('fonts/AMERIKA_/amerika_.eot') format('embedded-opentype'),
         url('fonts/AMERIKA_/amerika_.woff') format('woff'),
         url('fonts/AMERIKA_/amerika_.ttf') format('truetype'),
         url('fonts/AMERIKA_/amerika_.svg#AmerikaRegular') format('svg');
}
@font-face {
    font-family: 'AzoftSansRegular';
    src: url('fonts/azoft-sans/azoft-sans.eot');
    src: url('azoft-sans.eot') format('embedded-opentype'),
         url('fonts/azoft-sans/azoft-sans.woff') format('woff'),
         url('fonts/azoft-sans/azoft-sans.ttf') format('truetype'),
         url('fonts/azoft-sans/azoft-sans.svg#AzoftSansRegular') format('svg');
}

/* FONTS ends */
.experiment {
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
	font-family: "AmerikaRegular";
	color: #F8F7F7;
}
html {
	background: #d3cfc5;
	color: #252525;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	font: normal 14px/22px "Open Sans", sans-serif;
	width: 100%;
}
.rel {
	position: relative;
}
.clear {
	clear: both;
}
.overflow {
	overflow: hidden;
}
.h600 {
	height: 600px;
}
.header {
	min-height: 600px;
	width: 100%;
	background: url(img/cloud-01.png) no-repeat;
}
.container {
	margin: 0 auto;
	width: 1200px;
}
.header-box {
	height: 600px;
	width: 100%;
	max-width: 100%;
	position: absolute;
	z-index: 1;
	left: 0;
	
}
.cloud-02 {
	position: absolute;
	right: 0;
	width: 518px;
	height: 400px;
	background: url(img/cloud-02.png) no-repeat;
	background-color: #000;
	z-index: 1;
}
.cloud-02 {
	position: absolute;
	right: 0;
	width: 518px;
	height: 400px;
	z-index: 1;
	background: url(img/cloud-02.png) no-repeat;
}
.responsive-menu {
	display: none;
}
.nav {
	background: url(img/bg-nav.png);
	width: 940px;
	height: 100px;
	margin: 0 auto;
	z-index: 10;
}
.nav > ul {
	margin: 0;
}
.nav > ul > li {
	list-style: none;
	float: left;
	margin: 0 0px;
	width: 160px;
}
.nav > a {
	text-decoration: none;
}
.nav > ul > li > a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	font-size: 16px;
	letter-spacing: 2px;
	background: url(img/label.png) 0 -149px no-repeat;
	display: block;
	width: 160px;
	height: 49px;
}

.nav > ul > li > a:hover {
	background: url(img/label.png) no-repeat;
}
.nav-logo {
	float: left;
	margin: 40px 10px 0 60px;
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
	    -ms-transition: color 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out;
	        transition: color 0.2s ease-in-out;
}
.nav-logo:hover {
	color: #eee9d9;
}
.logo-top {
	margin: 0 auto;
	display: block;
	z-index: 10;
}
.slogan-box {
	height: 100px;
	width: 98%;
	z-index: 15;
	margin: 0 auto;
}
.slogan {
	font-size: 1.45em;
	font-family:'AmerikaRegular';
	font-weight: bold;
	line-height: 50px;
	text-shadow: 1px 1px 1px #000;
	padding: 0 1%;
	color: #F5F4F4;
	text-align: center;
	letter-spacing: 5px;
	border-bottom: 10px solid #345654;
	border-top: 10px solid #454545;
	
	width: 98%;

	display: block;

	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
	
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	vertical-align: baseline;
	background: transparent;
	margin: 33px 0;
}
.slogan:after {
	width: 100%;
	content: 'Сайт Web-верстальщика';
	display: block;
	position: absolute;
	left: 0;
	top: 0;

	color: #43929C;
	border-bottom: 10px solid #4A7C83;
	border-top: 10px solid #4B7D84;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
.slogan-box:hover .slogan {
	background: #000;

	transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	-webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	-moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	-ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );

}
.sea {
	min-height: 300px;
}
.header1 {
	background: url(img/header1.png) repeat-x;
	width: 100%;
	height: 100px;
}
.header2 {
	background: url(img/header2.png) repeat-x;
	width: 100%;
	height: 200px;
	position: absolute;
	top:10px;
}
.header3 {
	background: url(img/header3.png) repeat-x;
	width: 100%;
	height: 150px;
	position: absolute;
	top:40px;
}
.header4 {
	background: url(img/header4.png) repeat-x;
	width: 100%;
	height: 220px;
	position: absolute;
	top:90px;
}
/* header ends */

/* features starts */
.features-block {
	background: url(img/bg-ocean.png) repeat-x;
	width: 100%;
	height: 1100px;
}
.stones {
	background: url(img/stones.png) repeat-x;
	width: 100%;
	height: 322px;
	position: absolute;
	bottom: 0;
	z-index: 10;
}
.deviz, .deviz2 {
	text-align: center;
	letter-spacing: 3px;
	line-height: 30px;
	text-shadow: 1px 1px 5px #222020;
}
.deviz {
	margin: 200px 0 0;
}
.deviz2 {
	margin: 0;
}
.medal-l, .medal-r {
	position: absolute;
	bottom: 0;
}
.medal-l {
	left: 0;
}
.medal-r {
	right: 0;
}
.ribbon1 {
	background: url(img/black-rib.png) no-repeat;
	background-position: 0 50%;
	margin: 0 auto;
	width: 320px;
	height: 140px;
}
.suggest {
	width: 700px;
	margin: 0 auto;
	z-index: 100;
}
.suggest > ul > li {
	font-family: 'AzoftSansRegular';
	color: #F8F7F7;
	list-style-image: url(img/o-mark.png);
	font-size: 18px;
	padding: 15px 5px;
	line-height: 25px;
}
.features-in-ul {
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 1px 1px 5px #222020;
	margin: 10px 0;
}
/* features ends*/

/* Magma starts */
.magma1 {
	background: url(img/magma1.png) repeat-x;
	width: 100%;
	height: 200px;
	position: absolute;
	top: -55px;
	z-index: 11;
}
.magma2 {
	background: url(img/magma2.png) repeat-x;
	width: 100%;
	height: 200px;
	position: absolute;
	top: -25px;
	z-index: 12;
}
.magma3 {
	background: url(img/magma3.png) repeat-x;
	width: 100%;
	height: 600px;
	position: absolute;
	top: 70px;
	z-index: 1;
	z-index: 13;
}
.portfolio {
	background: url(img/magma-bg.jpg);
	width: 100%;
	overflow: hidden;
	padding-bottom: 120px;
}
.ribbon2 {
	background: url(img/black-rib.png) no-repeat;
	background-position: 0 100%;
	margin: 0 auto;
	width: 320px;
	height: 140px;
	position: relative;
	z-index: 15;
}
.mt200 {
	margin-top: 200px;
}
.pt20 {
	padding-top: 20px;
}
.plr20 {
	padding-left: 20px;
	padding-right: 20px;
}
.b-sprite {
	display: block;
	background: url(img/buttons.png);
	width: 171px;
	height: 33px;
	margin: 20px auto 0;
	
}
.b-sprite:hover {
	background-position: 0 67px;
}
.b-sprite:active {
	background-position: 0 100%;
}
.site-name {
	position: relative;
	font-size: 30px;
	font-family: 'AmerikaRegular';
	margin: 0 auto;
	top: -50px;
	display: block;
	width: 240px;
	text-align: center;
	z-index: 100;
	text-shadow: 1px 1px 6px #000;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
}
.opaci {
	opacity: 1;
	top: -110px;
}
.opaci-podlozhka {
	opacity: 0.7!important;
}
.podlozhka {
	width:324px; 
	height:432px; 
	background-color: #000;
	background-image:url(img/zoom.png);
    background-repeat:no-repeat;
    background-position: 43% 37%;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5 ease-in-out;
       -moz-transition: all 0.5 ease-in-out;
        -ms-transition: all 0.5 ease-in-out;
         -o-transition: all 0.5 ease-in-out;
            transition: all 0.5 ease-in-out;
}
.pirobox_gall {
	text-decoration: none;
}
/* Magma ends */
/* Stalogmits starts */
.stalogmits {
	background: url(img/stalagmits.png) repeat-x;
	width: 100%;
	height: 300px;
	position: absolute;
	top: -200px;
}
.about {
	background: url(img/stalagmits-bg.jpg);
	min-height: 650px;
	width: 100%;
	z-index: 10;
}

.my-photo {
	float: right;
	border: 4px solid #1F2327;
}
.intro-text {
	font-family: 'AzoftSansRegular';
	font-size: 16px;
	letter-spacing: 2px;
	position: relative;
	z-index: 100;
	padding-right: 185px;
}
.d {
	font-size: 25px;
	color: #FF8F00;
	text-shadow: 0px 0px 5px #000000;
}
.ribbon3 {
	background: url(img/black-rib.png) no-repeat;
	background-position: 0 0%;
	margin: 0 auto 20px;
	width: 320px;
	height: 139px;
	position: relative;
	z-index: 10;
}
/* Stalogmits ends*/
/* Footer starts*/
.footer {
	background: url(img/stalagmits2.png) repeat-x;
	width: 100%;
	position: absolute;
	float: left;
	top:-200px;
	z-index: 10;
	
}
.special-h {
	height: 310px;
}
.footer-inner {
	background: url(img/footer-bg.jpg);
	width: 100%;
	height: 275px;
	position: relative;
	z-index: 1;
}
.data-element {
	font-family: 'AzoftSansRegular';
	font-size: 18px;
	letter-spacing: 2px;
	color: #F8F7F7;
	float: left;
	clear: both;
	margin: 10px 0;
	width: 94%;
	font-weight: bold;
}
.contacts {
	text-align: center;
}
.contacts h1 {
	margin-bottom: 20px;
	text-shadow: 1px 1px 5px #222020;
	line-height: 30px;
}
.data-element > i {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-right: 10px;
	position: relative;
	top: 4px;
}
.han {
	background: url(img/Hangouts.png) no-repeat;
}
.icq {
	background: url(img/icq.png) no-repeat;
}
.sky {
	background: url(img/skype.png) no-repeat;
}
.dash {
	background: url(img/footer-dash.png) repeat-x;
	width: 100%;
	height: 10px;
	background-position: 0px 5px;
}
.copyrights {
	text-align: center;
	background-color: #d3cfc5;
}
.copyrights a {
	text-decoration: none;
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}
.copyrights a:hover {
	color: #AA7676;
}
.copyrights p {
	margin: 20px 0 0 0;
	font-size: 18px;
	color: #464646;
}
.copyrights h2 {
	margin: 15px 0 20px 0;
	text-shadow: 1px 1px 5px #222020;
}
.copyrights h2 > i {
	display: inline-block;
	position: relative;
	top:12px;
}
.logo-mini {
	background: url(img/logo-mini.png);
	width: 35px;
	height: 35px;
	display: block;
}
/* Footer ends*/


/*---------------
ZOOM DEFAULT starts
---------------*/
#main { 
	width:1200px; 
	position:relative; 
	z-index: 15; 
	text-align: center;
}

.block { 
	background: url(img/frame.png) no-repeat;
	width:324px; 
	height:432px; 
	display: inline-block;
	margin: 50px 20px;
}
.last { margin-right:0; }
.zoom { 
    width:288px; 
    height:320px; 
    display:block; 
    position:relative; 
    overflow:hidden; 
    border:1px solid #96947F; 

    margin: 30px 17px 0;
    text-decoration: none;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}


        .zoomOverlay {
            position:absolute;
            top:0; left:0;
            bottom:0; right:0;
            display:none;
            background-image:url(img/zoom.png);
            background-repeat:no-repeat;
            background-position:center;
            z-index: 2;
        }
        

/*---------------
ZOOM DEFAULT ends
---------------*/

/* OTHER styles */
#topcontrol {
	z-index: 1000;
	left: 50px;
	bottom: 25px!important;
	width: 61px!important;
}
.h550 {
		height: 550px;
}
.dropdown > ul > li > a > i {
	display: block;
	width: 30px;
	height: 29px;
	float: left;
	margin-right: 20px;
	background: url(img/icon.png) no-repeat;
} 
.i-us {
	background-position: 0px -65px!important;
}
.i-port {
	background-position: -30px -154px!important;
}
.i-cont {
	background-position: -30px -214px!important;
}
.i-about {
	background-position: 0px -34px!important;
}
.upper-link {
	width: 60px;
	height: 60px;
	background: url(img/up.png) no-repeat;
}
/*--------------------------------------------
M E D I A  Q U A R I E S
---------------------------------------------*/

@media screen and (max-width: 1250px) {

	.container {
		width: 100%;
	}
	.slogan-box {
		width: 100%;
	}
	.block {
		margin: 20px 2%;
		display: inline-block;
		float: none;
		text-align: center;
	}
	.intro-text {
		margin-left: 20px;
		padding-bottom: 125px;
	}
	.my-photo {
		margin-right: 20px;
	}
	#main {
		width: 100%;
		text-align: center;
	}
	.block {
		

	}

}

/* Another width !!! */

@media screen and (max-width: 960px) {
	.nav {
		display: none;
	}
	.logo-top {
		margin: 85px auto 0;
	}
	.responsive-menu {
		background: url(img/menu-responsive.png) repeat-x;
		position: relative;
		z-index: 5000;
		height: 61px;
		display: block;
	}
	.drop-button {
		background: url(img/drop-button.png);
		display: block;
		width: 37px;
		height: 36px;
		position: absolute;
		top: 14px;
		right: 30px;
	}
	.drop-button:hover {
		background-position: 0 75px;
	}
	.drop-button:active {
		background-position: 0 36px;
	}
	
	.responsive-menu a {
		text-decoration: none;
	}
	.nav-logo-responsive:hover {
		color: #EEE9D9;
	}
	.nav-logo-responsive {
		padding: 20px 10px 0 30px;
		display: block;
		font-size: 35px;
		width: 190px;
	}
	.dropdown {
		width: 100%;
		z-index: 5;
		position: absolute;	
		top: 61px;
		display: none;
	}
	.dropdown > ul {
		background-color: #1B1B1B;
		padding: 35px 0;
	}
	.dropdown > ul > li {
		list-style: none;
	}
	.dropdown > ul > li > a {
		font-size: 2em;
		margin-top: 5px;
		display: block;
		padding: 20px 0 20px 30px;
		letter-spacing: 3px;
	}
	.dropdown > ul > li:hover {
		background-color: #046C70;
	}
	.dropdown > ul > li:hover a{
		color: #EEE9D9;
	}
	.suggest {
		width: 92%;
		padding: 0 20px 0 30px;
	}
	#topcontrol {
		display: none;
	}
	.deviz {
		margin-top: 150px;
	}
	.deviz, .deviz2 {
		padding: 0 45px;
	}
	.my-photo {
		float: none;
		display: block;
		margin: 0 auto 20px;
	}
	.intro-text {
		padding-right: 20px;
		-ms-text-align: justify;
		    text-align: justify;
	}
}

/* Another width !!! */

@media screen and (max-width: 705px) {
	.suggest > ul > li {
		font-size: 17px;
		padding: 10px 5px;
	}
	.medal-l, .medal-r {
		bottom: 80px;
	}
	.special-h {
		height: 350px;
	}

}

/* Another width !!! */

@media screen and (max-width: 500px) {
	.deviz {
		margin-top: 140px;
	}
	.deviz, .deviz2 {
		font-size: 15px;
	}
	.suggest > ul > li {
		font-size: 15px;
		padding: 7px 5px;
	}
	.data-element {
		font-size: 12px;
		width: 91%!important;
		padding-left: 20px;
    	padding-right: 20px;
	}
	.special-h {
		height: 360px;
	}
	
}

/* Another width !!! */

@media screen and (max-width: 400px) {
	.deviz {
		margin-top: 140px;
	}
	.deviz, .deviz2 {
		font-size: 13px;
	}
	.suggest > ul > li {
		font-size: 15px;
		padding: 2px 5px;
		width: 94%;
	}
	.contacts h1 {
		font-size: 18px;
	}
	.cloud-02 {
		width: 100%;
		max-width: 100%;
		z-index: 1;
	}
	.header-box {
		z-index: 15;
	}

}

/* Another width !!! */

@media screen and (max-width: 360px) {
	body {
		width: 360px!important;
	}
	.cloud-02 {
		width: 225px;
	}
	
}