@font-face {
    font-family: 'OzHandicraftWin95BTRoman';
    src: url('xlzp0dhy.eot');
    src: url('xlzp0dhy.eot') format('embedded-opentype'),
         url('xlzp0dhy.woff') format('woff'),
         url('xlzp0dhy.ttf') format('truetype'),
         url('xlzp0dhy.svg#OzHandicraftWin95BTRoman') format('svg');
}
