@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
	border: none;
}
body{
	min-width: 1200px;
	background: black;
}
.center-block{
	margin: 0 auto;
	width: 950px;
	position: relative;
}
.header-up{
	background: url(images/bg-up-header.png);
	height: 40px;
	overflow: hidden;
}
.header-up p{
	color: #AAAAAA;
	font: 12px Tahoma;
	padding: 15px 10px 0 0;

}
.aforizm{
	font:20px "Times New Roman";
	font-style: italic;
	color: #889999;
	padding-top: 10px;
	float: left;
}
.social{
	float: right;
	padding: 7px 50px 0 0;
}
.social1{
	float: right;
	padding: 6px 10px 0 0;
}
.header-up img{
	height: 30px;
	opacity: 0.3;

transition:opacity .3s ease-in-out;
-webkit-transition:opacity .3s ease-in-out;
}
.header-up img:hover{
	opacity: 1;
}
.logo{
	padding:18px 10px 0 20px;
	display: block;
	float: left;
}
.clear{
	clear: both;
}
.make-order{
	position: relative;
	overflow: hidden;
}
.zakaz {
	-moz-box-shadow:inset 0px 1px 0px 0px #e8cea0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e8cea0;
	box-shadow:inset 0px 1px 0px 0px #e8cea0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #ff8d0a) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #ff8d0a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#ff8d0a');
	background-color:#ffce79;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:26px;
	border:2px solid #eeb44f;
	display:inline-block;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:23px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #d3e1e3;
	float: left;
	margin: 10px 0px 10px 32px;
}
.zakaz:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8d0a), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #ff8d0a 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8d0a', endColorstr='#ffce79');
	background-color:#ff8d0a;
	cursor: pointer;
}.zakaz:active {
	position:relative;
	top:1px;
}
.nav{
	width: 563px;
	background: url(images/nav-bg-under.png);
	float: right;
	border-radius: 30px;
	margin-top: 41px;
	margin-right: 105px;
}
.nav-in{
	background: url(images/bg-nav.png);
	height: 39px;
	border-radius: 20px;
	margin: 8px;
	overflow: hidden;
}
.list{
	padding: 0 0 10px 10px;
	cursor: pointer;
}
.list li a{
	float: left;
	display: inline-block;
	font: 15px Tahoma;
	color: #fff;
	text-align: center;
	line-height: 2.1;
	margin:5px 0 0 0;
	padding: 0 10px 0 10px;
	text-transform: uppercase;
	opacity:.6;
	text-decoration: none;

}
.list li a:hover{
	color: #ffae00;
	background: url(images/nav-btn.png);
	height: 30px;
	border-radius: 20px;
	opacity:1;
	transition:opacity .7s ease-in-out;
	-webkit-transition:opacity .7s ease-in-out;
}
.list li a:active{
	background: url(images/nav-btn-active.png);
}
.headborder-bottom{
	background: url(images/bg-up-header-border-bottom.png) repeat-x;
	height: 18px;
}
.header{
	background: url(images/bg-header.png);
	height: 175;
	overflow: hidden;
}
.headborder-bottom2{
	background: url(images/bg-headbottom.png) repeat-x;
	height: 11px;
}

/* Начало блока О НАС */

.slide-section{
	background: url(images/bg-slide-section.png) repeat-x;
	height: 391px;
	overflow: hidden;

}
.center-block h1{
	font: 30px "Times New Roman";
	color:#ffae00;
	text-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
}
.left-bar{
	width: 670px;
	float: left;
	padding-right: 10px;
}
.right-bar{
	float: left;
	position: relative;
}
.question{
	position: absolute;
	top:40px;
	right: -30px;
}
.left-bar p{
	color: #AAAAAA;
	font: 14px Tahoma;
	padding: 20px 10px 0 0;
	line-height: 1.5;
}
.garanty{
	float: right;
	margin: 96px 0 0 20px;
}
/*Конец блока О НАС*/
/*Начало блока с предметами*/
.ready-list{
	background: url(images/bg-content.png);
	height: 240px;
	padding: 15px 0 15px 75px;
}
.ready-list h2:hover{
text-shadow: 0 -1px 0 rgba(0,0,0,0.4), 0 0 4px rgba(255,155,57,0.4);
}
.lesson-box{
	width: 75px;
	height: 65px;
	border: 1px solid rgba(0,0,0,0.75);
	background: rgba(0,0,0,0.7) url(images/bg-header.png);
	margin: 5px 0 13px 0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	float: left;
	clear: both;
}
.left-bar-lessons h2,.right-bar-lessons h2,.after-bar-lessons h2{
	float: left;
	font: 25px "Times New Roman";
	color:#ffae00;
	text-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
	padding: 22px 0 0 22px;
}

.left-bar-lessons div:hover{
	border: 1px solid #494949;

	-webkit-box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
}
.right-bar-lessons div:hover{
	border: 1px solid #494949;

	-webkit-box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
}
.after-bar-lessons div:hover{
	border: 1px solid #494949;

	-webkit-box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
}
.lesson-box h1{
	display: block;
}
.bio{
	margin: 6px 5px 0px 12px;
}
.infor{
	margin: 1px 6px 0px 5px;
}
.history{
	margin: 3px 5px 0px 7px;
}
.sociality{
	margin: 11px 5px 0px 7px;
}
.chemist{
	margin: 6px 5px 0px 10px;
}
.phisic{
	margin: 4px 5px 0px 8px;
}
.math{
	margin: 6px 5px 0px 10px;
}
.eng{
	margin: 3px 5px 0px 8px;
}
.rus{
	margin: 5px 5px 0px 9px;
}
.left-bar-lessons{
	float: left;
	width: 290px;
}
.left-bar-lessons h1{
	float: left;
	margin: 0px 0px 0px 0px;
	display: block;
}
.lesson-box a{
	display: block;
}

.separator{
	float: left;
	margin: 20px 20px 0px 0px;
}
.right-bar-lessons{
	float: left;
	width: 270px;
}
.after-bar-lessons{
	float: left;
	width: 270px;
}
.content-border-bottom{
	background: url(images/bg-up-header-border-bottom.png) repeat-x;
	height: 18px;
}
/*Конец блока с предметами*/
/*Начало блока с нашими преимуществами*/
.premium{
	width: 470px;
	height: 287px;
	float: left;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 6px;
	background: rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 5px rgba(0,0,0,0.3);
	color: #999;
	text-shadow: 0 1px 0 rgba(0,0,0,1.0);
	overflow: hidden;
	margin
}
.premium h3{
	font: 25px "Times New Roman";
	color: #AAAAAA;
	text-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
	padding: 5px 0 10px 10px;
}
.premium li{
	list-style:none;
	margin:0 0 5px 38px;
	clear: both;
	margin: 0 0 27px 8px;
	font: 11px Verdana
}
i{
	width:25px;
	height: 25px;
	background: url(images/sign.png);
	display: block;
	float: left;
	margin: -4px 0 0 0;
}
.kassa{
	float: left;
}
.kassa h3{
	font: 25px "Times New Roman";
	color: #AAAAAA;
	text-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
	padding: 5px 0 10px 10px;
}
.robo{
	padding: 44px 30px 0 30px;
	float: left;
}
.otherkass{
	padding: 0px 0px 0px 0px;
	float: left;
}
.info{
	background: url(images/bg-header.png);
	height:290px;
	padding: 15px 0 15px 0; 
}
.info-border-bottom{
	background: url(images/content-border-bottom.png);
	height: 15px;
}
.akcia{
	background: url(images/bg-fore.png);
	height: 410px;
}
.border-bottom-akcia{
	background: url(images/border-bottom-akcia.png) repeat-x;
	height: 12px;
}
.footer{
	background: #0f0f0f;
	height: 85px;
	overflow: hidden;
}
.footer p{
	color: #AAAAAA;
	font: 11px Tahoma;
	padding: 11px 0px 0px 0px;
}
.footer span{
	position: absolute;
	top: 13px;
	right: 45px;
}
.footer span a{
	text-decoration: none;
	font: 11px Tahoma;
	color: #eee;
	padding: 0px 0px 0px 0px;
}
.footer span a:hover{
	text-decoration: underline;
}