body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

	ul#nav li {
		float: left; list-style: none; 
	}
		ul#nav li a {
			display: block; width: 148px; height: 40px; 
			padding: 41px 0 65px 0; margin: 0;
			background: url(../img/label.png) 0 -149px no-repeat; 
			text-align: center;
		}
			ul#nav li a:hover {
				background: url(../img/label.png) 0 0 no-repeat;
				color: #eee9d9; text-shadow: 0 2px 3px #4c2222;
			}
			
			ul#nav li a.js:hover {
				background: url(../img/label.png) 0 -149px no-repeat;
			}